[2015-11-14 20:09] kentcdodds opened #1 "Show with Brendan Eich"
Would be super cool to get @BrendanEich on for the first show to kick us off and talk about the past and future of JavaScript.

Brendan, I sent you a direct message on twitter a few days ago and I'm waiting to hear back. Let me know what you think!

[2015-11-19 15:26] kentcdodds commented on #1
This is going to be the first episode, and I'm super excited about it :-)

[2015-11-19 15:26] #1 closed

[2015-11-19 16:39] PatrickJS commented on #1
:+1:

[2015-11-20 16:17] mvolkmann opened #2 "stateless functional component form"
Since your App component doesn't use state or lifecycle methods, you could replace this:

[code]

with this:

[code]

[2015-11-20 16:20] kentcdodds commented on #2
Ah, very true. Like I said, I'll be refactoring later :-) This was hacked together.

[2015-11-20 16:20] kentcdodds commented on #2
Thanks for the tip!

[2015-11-20 16:24] #2 closed

[2015-11-20 18:12] kentcdodds opened #3 "Learning and Developing JavaScript"
@getify originally thought this idea [here](https://twitter.com/getify/status/665985684096876544)

(changed @ mention from twitter to github)

I think this would be a pretty sweet second show. Thoughts?

[2015-11-20 18:13] kentcdodds opened #4 "Introducing the Panel"
We did a show like this for Angular Air and it went pretty well. I think it'd be cool to take a show to introduce the JavaScript Air panelists. We have a lot of really solid developers on the show with cool experiences and stories :-)

[2015-11-20 18:20] kentcdodds opened #5 "Episode Suggestion: Test of template"
Idea:

WAT ever I want

Potential guest(s): someone, super, cool

something awesome

[2015-11-20 18:23] kentcdodds opened #6 "Episode suggestion that would be cool"
**Title Idea:** Webpack

**Idea:** Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome Something amazingly awesome

**Potential guest(s):** @kentcdodds

other stuff

[2015-11-20 18:23] #6 closed

[2015-11-20 18:23] #5 closed

[2015-11-20 18:27] kentcdodds opened #7 "Episode Suggestion: WAT"
**Title Idea:** WAT

**Idea:** We've all seen the [Wat](https://www.destroyallsoftware.com/talks/wat) talk by @garybernhardt. Let's get that talk in podcast form :-)

**Potential guest(s):** @garybernhardt

This could be epic :-)

[2015-11-20 18:55] ashleygwilliams commented on #3
hi! yes this is great idea. how do we proceed?

[2015-11-20 18:59] kentcdodds commented on #3
Awesome! How's the 16th of December at [12:00 CST](http://www.thetimezoneconverter.com/)? Does that work for you too @getify?

[2015-11-20 19:30] ashleygwilliams commented on #3
should work for me, but i can't confirm til i have booked my travel from seattle to SF (will be either that morning or the evening before ideally!)

[2015-11-23 14:14] kentcdodds commented on #3
Got just about everything set up. @ashleygwilliams, would you prefer that I use your Twitter or github profile for the website? Also, @getify, I'd like to confirm with you that you'll be able to make this show since you'll technically be a guest on this one :-)

[2015-11-23 15:00] getify commented on #3
Yes I can be there. :)

[2015-11-23 16:55] kentcdodds commented on #3
@ashleygwilliams, could you get me a Google+ url for you? I'd like to +mention you on the Google+ event :-)

Also, please see [the JavaScript Air Guest Instructions](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit?usp=sharing) and let me know if you have any questions!

[2015-11-26 19:28] ashleygwilliams commented on #3
i don't really have/use google+ but this is me: https://plus.google.com/u/0/102650521771085125664

[2015-12-03 14:02] kentcdodds opened #8 "ES6 Show"
**Title Idea:** The features of ES6

**Idea:** The title is sort of self-explanitory

**Potential guest(s):** @rauschma, @bevacqua

[2015-12-03 14:02] kentcdodds commented on #8
What do you all think? Are you interested?

[2015-12-03 14:03] baptistemanson opened #9 "Js and functional programming: the next stage"
**Title Idea:** Js and functional programming: the next stage

**Idea:** Functional programming have been greatly facilitated with ES6. Explore how prototyping can be further enhanced by using functional and immutable design patterns in JS.

**Potential guest(s):** @gaearon, @fogus

[2015-12-03 14:04] kentcdodds commented on #9
👍 what do you all think?

[2015-12-03 14:32] MattReibach opened #10 "Unit Testing Javascript"
**Title Idea:** Unit Testing Javascript

**Idea:** Discussion on current testing libraries, methodologies, and how to write good tests and good testable code

**Potential guest(s):** @joeeames, @wardbell

[2015-12-03 14:34] kentcdodds commented on #10
Love it, would be cool to get @cjohansen (author of sinon.js) on as well!

[2015-12-03 14:35] kentcdodds commented on #10
@joeeames, @wardbell, and @cjohansen, what do you think?

[2015-12-03 18:21] joeeames commented on #10
Sounds fun

On Thu, Dec 3, 2015, 7:35 AM Kent C. Dodds notifications@github.com wrote:

[2015-12-03 18:25] wardbell commented on #10
Sounds fun to me!

Sent from my Windows Phone

---

From: Joe Eamesmailto:notifications@github.com
Sent: ‎12/‎3/‎2015 10:21 AM
To: javascriptair/sitemailto:site@noreply.github.com
Cc: Ward Bellmailto:wardbell@hotmail.com
Subject: Re: [site] Unit Testing Javascript (#10)

Sounds fun

On Thu, Dec 3, 2015, 7:35 AM Kent C. Dodds notifications@github.com wrote:

---

Reply to this email directly or vie

[2015-12-03 20:00] kentcdodds commented on #10
Awesome. @cjohansen, you're still invited, but why don't we get this scheduled!

Our next available slot is December 23rd. I realize that's two days before Christmas, but we're still going to have a show. If that doesn't work for you we can do December 30th. Shows are every Wednesday at 12:00 CST so we could do something next year as well.

What Wednesdays work for each of you in the next 4 weeks?

[2015-12-04 16:17] kentcdodds opened #11 "Episode suggestion: Conferences"
**Title Idea:** JavaScript Conferences

**Idea:** I think it'd be interesting to chat about what makes a good conference and what conferences we've been to. Maybe have some guests on the show who have organized conferences as well.

**Potential guest(s):**

[2015-12-04 18:19] wardbell commented on #10
Sorry but I cannot do Dec 23rd. On vacation. No computers allowed.

From: Kent C. Dodds [mailto:notifications@github.com]
Sent: Thursday, December 3, 2015 12:01 PM
To: javascriptair/site site@noreply.github.com
Cc: Ward Bell wardbell@hotmail.com
Subject: Re: [site] Unit Testing Javascript (#10)

Awesome. @cjohansen https://github.com/cjohansen , you're still invited, but why don't we get this sche

[2015-12-04 18:38] kentcdodds commented on #10
That's fine. What Wednesdays are you available at 12:00 [CST](http://www.thetimezoneconverter.com/) in the next 4 weeks?

[2015-12-04 19:02] cjohansen commented on #10
I'll join! I don't have specific plans, so I can fit it in.

[2015-12-04 19:08] joeeames commented on #10
I may be traveling on the 30th. So that may not work for me. I can do the
next two wednesdays. Or any of the wednesdays in January.

On Fri, Dec 4, 2015 at 12:02 PM, Christian Johansen <
notifications@github.com> wrote:

##

Joe Eames
Software Craftsman

[2015-12-04 19:13] ghost commented on #10
Thanks Kent, Joe, Ward, and Christian for picking up this topic idea (and so quickly)!  I'm definitely looking forward to the show.  Hopefully others will find this topic to be as interesting and helpful as I do!

[2015-12-04 20:37] kentcdodds commented on #10
How does Wednesday, January 6th, 2016 at 12:00 CST work for you @wardbell and @cjohansen?

[2015-12-04 21:13] wardbell commented on #10
That’s 10am PST and it looks good for me.

From: Kent C. Dodds [mailto:notifications@github.com]
Sent: Friday, December 4, 2015 12:38 PM
To: javascriptair/site site@noreply.github.com
Cc: Ward Bell wardbell@hotmail.com
Subject: Re: [site] Unit Testing Javascript (#10)

How does Wednesday, January 6th, 2016 at 12:00 CST work for you @wardbell https://github.com/wardbell  and @cjohansen https://gith

[2015-12-04 21:17] kentcdodds commented on #10
Sweet! So January 6th, 2016 at 12:00 CST it is! I'll get you each a calendar event. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information as you’d like it to appear on the site a

[2015-12-04 22:14] wardbell commented on #10
Ward Bell
@wardbell
Google+ profile: https://plus.google.com/u/0/117721243291907936009
![mr-lasvegas](https://cloud.githubusercontent.com/assets/129061/11602714/463f0990-9a91-11e5-95f8-8a1d455dd302.jpg)

[2015-12-04 22:19] joeeames commented on #10
Joe Eames
@josepheames
https://plus.google.com/u/0/+JoeEames/
[image: Inline image 1]

On Fri, Dec 4, 2015 at 3:14 PM, Ward Bell notifications@github.com wrote:

##

Joe Eames
Software Craftsman

[2015-12-04 22:28] kentcdodds commented on #10
@joeeames, your image didn't come through.

[2015-12-04 22:33] kentcdodds commented on #10
Forget it Joe, I'll just use your Twitter one :-) Thanks!

[2015-12-04 22:33] joeeames commented on #10
https://dl.dropboxusercontent.com/u/39008480/KLP_0762-Square.jpg

On Fri, Dec 4, 2015 at 3:28 PM, Kent C. Dodds notifications@github.com
wrote:

##

Joe Eames
Software Craftsman

[2015-12-05 17:27] kentcdodds opened #12 "Microsoft Open Sourced Chakra"
**Title Idea:** Chakra, Microsoft's JS Engine

**Idea:** At JSConf this morning, Gaurav Seth & Steve Lucco announced that Microsoft will be open sourcing Chakra. I know that many developers will be even more interested than ever to find out about what this is and what it means for JavaScript developers.

**Potential guest(s):** @steveluc, @gauravseth

[2015-12-05 17:34] oaleynik commented on #12
Yes, please :+1: Thanks @kentcdodds

[2015-12-05 20:42] e-oz commented on #12
+1

[2015-12-05 21:31] kentcdodds commented on #12
Seems like @jdalton knows a thing or two about Chakra as well. John, do you want to come on the show to talk about this as well?

[2015-12-06 01:54] tikotzky commented on #12
Big +1 from me :)

[2015-12-06 01:58] PatrickJS commented on #12
:+1:

[2015-12-06 04:54] jdalton commented on #12
Can dig, will see.

[2015-12-06 04:55] kentcdodds commented on #12
Well, one way or another @jdalton, I'd really love to have you on the show :-)

[2015-12-06 06:55] jdalton commented on #12
Sure, hit me up anytime :D

[2015-12-06 18:27] learningjs commented on #12
+1 +1 +1

[2015-12-07 19:04] kentcdodds opened #13 "ESLint"
**Title Idea:** ESLint

**Idea:** Let's talk about what ESLint is, how it works, and how it's useful

**Potential guest(s):** @nzakas, @gyandeeps, @xjamundx

[2015-12-07 19:05] kentcdodds commented on #13
Let me know if you're interested in doing this show @nzakas, @gyandeeps, and @xjamundx!

[2015-12-07 20:11] kentcdodds opened #14 "Babel"
**Title Idea:** Babel, the JavaScript Compiler

**Idea:** Tons of people use this stuff. With Babel 6 out, it'd be super cool to talk about how Babel is a language platform as well as a transpiler. Would be cool to talk about the ecosystem of Babel plugins, respond to the worry that with all of these plugins people will be writing JavaScript that will never run in the browser, etc.

**Potential gu

[2015-12-07 20:13] jamiebuilds commented on #14
Other core members who might be interested: @loganfsmyth, @jmm

[2015-12-07 20:15] kentcdodds commented on #14
+1 @thejameskyle. I just nabbed the top 4 contributors according to github :-) Other recommendations of potential guests are totally welcome.

I should mention that I'd especially love to have @sebmck and @thejameskyle on :-)

[2015-12-07 20:25] nzakas commented on #13
I'm not well enough to be doing interviews at this point, but maybe the other folks are interested.

[2015-12-07 20:27] kentcdodds commented on #13
I've heard that you're health's not been very good @nzakas. You've done amazing things for the community (not just ESLint). Thank you for your contributions. Get well soon man!

[2015-12-07 20:29] yuyokk opened #15 "e2e testing"
**Title Idea**: e2e testing

**Idea**: Is it worth doing at all? What are benefits? How much time should it take? e2e testing with some frameworks like React and Angular.

**Potential guest(s)**: not sure here

Please let me know if this makes sense.

[2015-12-07 20:30] jamiebuilds commented on #14
I'm not interested in doing a live broadcast like this, sorry.

[2015-12-07 20:30] kentcdodds commented on #15
Totally makes sense. Good suggestion. I'll give it some thought and feel around the JS community for E2E experts.

[2015-12-07 21:27] amasad commented on #14
Sure. I'm free on Wednesdays at that time.

[2015-12-07 22:49] yuyokk commented on #15
@kentcdodds :+1: cool
I'm excited about the upcoming podcasts! Thanks for doing this :clap:

[2015-12-08 04:47] loganfsmyth commented on #14
Hey @kentcdodds, I'd be up for coming on if you'd have me.

[2015-12-08 04:51] hzoo commented on #14
Should be able to if we don't have too many people already

[2015-12-08 08:20] cjohansen commented on #10
Is this the right time? http://www.timeanddate.com/worldclock/converted.html?iso=20160106T12&p1=155&p2=187

Name: Christian Johansen
Twitter handle: @cjno
Google+: I don't really have one - do I need one?
Profile pic: http://tddjs.com/images/christian-johansen.jpg

[2015-12-08 14:29] kentcdodds commented on #10
That's the right time. The Google+ thing is just so I can +mention you on the Google+ Hangout on Air event. Not a really big deal. Thanks!

[2015-12-08 15:04] kentcdodds commented on #10
The show has been scheduled and added to the site! https://github.com/javascriptair/site/commit/20d149efd42e28746c0b5e75e58fd78e4f6ed807

Looking forward to it!

[2015-12-08 15:10] kentcdodds commented on #14
Cool! Any chance we could get the three of you for the 23rd or 30th at [12:00 CST](http://www.thetimezoneconverter.com/)? (you're still invited @sebmck, and @thejameskyle if you change your mind :))

If that doesn't work, please let me know what Wednesdays work for you in the next 6 weeks.

[2015-12-08 15:14] kentcdodds commented on #10
Sorry, I forgot I need one more thing from all of you. There will be a show google doc and I'll need an email to share that with you. Feel free to email me with that if you don't want to post it publicly here: [javascriptair@gmail.com](mailto:javascriptair@gmail.com)

[2015-12-08 15:40] amasad commented on #14
Either Wednesdays should work for me

On Tuesday, December 8, 2015, Kent C. Dodds notifications@github.com
wrote:

[2015-12-08 16:03] toddhgardner opened #16 "Web Performance"
**Title Idea:** Web Performance

**Idea:** The nitty-gritty details of understanding web performance.

**Potential guest(s):** Nik Molnar, @nikmd32

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being

[2015-12-08 16:06] toddhgardner opened #17 "JavaScript Debugging"
**Title Idea:** JavaScript Debugging

**Idea:** Tools and techniques for debugging JavaScript applications. Understanding stacktraces, async stacktracing, sourcemaps, realtime tracing, etc.

Could be 2 shows, one for browser, one for node.

**Potential guest(s):** @toddhgardner, @jaymundx

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all

[2015-12-08 17:00] kentcdodds commented on #17
@toddhgardner, did you mean @xjamundx? Or is @jaymundx supposed to reference someone else?

[2015-12-08 17:01] kentcdodds commented on #16
@toddhgardner, looks like @nikmd32 should be: @nikmd23 :-) What do you think Nik?

[2015-12-08 17:02] toddhgardner commented on #16
Doh!

[2015-12-08 17:03] toddhgardner commented on #17
No, you're correct. Damn, i gotta double check these things first :p.
I saw him do a talk at MtnWestJS a few years ago about what PayPal was doing and it was cool. Not sure if he's still in the space though.

[2015-12-08 17:12] xjamundx commented on #17
Right @toddhgardner we both had error handling talks back to back. You know....@stinkydofu from netflix has been talking a lot about error handling in node lately (here's a recent http://www.slideshare.net/AlexLiu24/to-err-is-human-54101650) also his colleague has a talk about debugging here http://yunong.io/2015/11/13/debugging-node-js-in-production/. They might be good folks. I've been focusing

[2015-12-08 17:13] xjamundx commented on #13
Totally willing to help out @kentcdodds. I love `eslint` though I haven't contributed as much lately :open_mouth:

Also @ianvs and @ilyavolodin or @btmills or @lo1tuma and the rest of the contributors all might be great.

But also I really like https://github.com/feross/standard, so I'd love to have you talk to @feross either on the same panel or a different one. Standard is built on top of ESLint

[2015-12-08 17:22] hzoo commented on #13
I can be of assistance as well babel-eslint, jscs, etc.

[2015-12-08 17:23] xjamundx commented on #13
:+1: for @hzoo he has a lot of experience working on both jscs and eslint!

[2015-12-08 18:03] nikmd23 commented on #16
I'd love to do a show! Thanks for thinking of me.

When are shows usually recorded? Evenings? Afternoons?

[2015-12-08 19:37] kentcdodds commented on #16
Hi @nikmd23! That's great!

Because it's Live there is a minimal amount of flexability with the time. If we must though, we can move it around.

Which Wednesdays work well for you in the next 4-6 weeks? We do need to fill a slot on the 23rd and the 30th. Would either of those work for you?

[2015-12-08 19:39] kentcdodds commented on #14
Awesome. @loganfsmyth and @hzoo, do either of those days work for you?

[2015-12-08 19:40] kentcdodds commented on #17
@xjamundx, thanks for the referral. Though I don't think that @stinkydofu is a user on GitHub. Typo?

[2015-12-08 19:42] kentcdodds commented on #13
I think we could definitely have @feross on to talk about standard on this show. We've got an hour so hopefully that'll be enough to cover everything :-) What do you think @feross?

Anyone else up for joining this show?

[2015-12-08 19:45] nikmd23 commented on #16
So basically: "Look up there  :point_up: you dum dum".  :flushed:

Sorry for missing that.

I can make December 16th, or January 13, 20 or 27 work.

[2015-12-08 19:48] gyandeeps commented on #13
I can join too.
@kentcdodds What date/time are we talking about because end of December I might be travelling?

[2015-12-08 19:49] kentcdodds commented on #16
Hee hee, didn't want to say it like that :P

Let's plan you for the 16th :-) Do you know anyone else who could contribute to this conversation? Feel free to @ mention them here and we'll see if we can sync schedules.

[2015-12-08 20:05] nikmd23 opened #18 "Selecting JavaScript Frameworks & Libraries"
**Title Idea:** Selecting JavaScript Frameworks & Libraries

**Idea:** The process of finding the right JavaScript "needles" for your project in the "haystacks" of NPM, Bower & GitHub.

**Potential guest(s):** Anthony van der Hoorn @avanderhoorn

If you haven't heard of [JavaScript Air](http://javascriptair.com/) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednes

[2015-12-08 20:10] kentcdodds commented on #13
Great question... Here's the usual blurb :-)

If you haven't heard of [JavaScript Air](http://javascriptair.com/) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [this Google Doc](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGK

[2015-12-08 20:20] kentcdodds opened #19 "Value Proposition of a Framework"
**Title Idea:** Value Proposition of a Framework

**Idea:** @tomdale recently posted [JavaScript Frameworks and Mobile Performance](http://tomdale.net/2015/11/javascript-frameworks-and-mobile-performance/) in which he makes a case for the value proposition of frameworks. I think this would be a terrific topic for the show as many people are questioning whether frameworks are worth it. Would be awe

[2015-12-08 20:46] hzoo commented on #14
Yeah should be ok - around the holidays!

[2015-12-08 20:59] loganfsmyth commented on #14
Either of those should work for me too.

[2015-12-08 21:17] kentcdodds commented on #14
Fantastic! Let's plan on December 23rd at [12:00 CST](http://www.thetimezoneconverter.com/) to chat about Babel :-)

Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens

[2015-12-09 17:42] nikmd23 commented on #16
@kentcdodds I'm so sorry. The business trip I'm currently on has been extended, and I'm no longer available on the 16th. :disappointed:

Can we try for on of the 2016 dates?

[2015-12-09 17:43] kentcdodds commented on #16
Haha! How fortunate! I'm not sure what I was thinking, but we actually already have a show scheduled for the 16th. Let's plan on January 13th :-)

[2015-12-09 17:44] kentcdodds commented on #16
Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information as you’d like it to

[2015-12-09 18:27] avanderhoorn commented on #18
I'm happy to chat. Just let me know what I need to do.

[2015-12-09 21:08] xjamundx commented on #17
Try @DonutEspresso

[2015-12-09 21:20] kentcdodds commented on #18
I'm actually thinking I'd combine this episode with #19. I'll keep you informed :-)

[2015-12-10 16:46] kentcdodds commented on #17
What do you think @DonutEspresso?

[2015-12-10 20:00] kentcdodds commented on #4
I think that it'd make it so the audience can connect with us and be more engaged if they know a thing or two about each of us and the things we're working on to help the community :-)

[2015-12-10 20:00] kentcdodds commented on #4
Planning on the 20th of January at [12:00 CST](http://www.thetimezoneconverter.com/).

[2015-12-10 20:42] DonutEspresso commented on #17
Hey folks - @yunong and I have definitely been spending more time on the Node.js side of things. Yunong's experience with debugging in Node is ace, and you'll definitely want him on board for the Node stuff. I'd be happy to join too, depends on how many guests you want. :)  I think Yunong's traveling for the next week or two though.

[2015-12-10 21:05] kentcdodds commented on #17
I'm fine with a bunch of guests (probably up to 4 or so). @toddhgardner, @DonutEspresso, and @yunong (if you're interested which I hope you are!), please tell me your availability for these dates:
- 30 December 2015
- 20 January 2015
- 27 January 2015
- 3 February 2015
- 10 February 2015

[2015-12-10 21:05] kentcdodds commented on #17
Oh, and remember the show is 1 hour and starts at [12:00 CST](http://www.thetimezoneconverter.com/)

[2015-12-10 21:27] toddhgardner commented on #17
Awesome, a panel on the topic sounds great.
I can do it:
- 30 December 2015
- 27 January 2015
- 10 February 2015

[2015-12-11 16:53] kentcdodds commented on #16
Alrighty, I've almost all the info I need from the interwebs. This episode is up on the website. I just need your email address to share a google doc with you :-) Feel free to email it to me if you don't want it public: javascriptair@gmail.com

[2015-12-11 18:59] ilyavolodin commented on #13
If needed I can join. December 30th would work for me.

[2015-12-11 19:07] DonutEspresso commented on #17
The Jan/Feb dates work for me.

[2015-12-11 19:14] hzoo commented on #13
Dec 30 sounds good

[2015-12-11 19:18] xjamundx commented on #13
30th is my anniversary :) Happy to let some other eslint voices handle this one. Let me know if you can't get enough folks and I can help on another.

[2015-12-11 19:23] kentcdodds commented on #13
@gyandeeps how's the 30th for you?

[2015-12-11 19:28] gyandeeps commented on #13
Yikes, I will be traveling on 30th. Any thing available for January?
I am interested to join this podcast.

[2015-12-11 19:31] kentcdodds commented on #17
Great @yunong, are you interested? Would love to have you

[2015-12-11 19:32] kentcdodds commented on #13
Yeah. Got some stuff in the air right now. But could everyone mention your availability for Wednesday's at that time in January and February?

[2015-12-11 19:37] ilyavolodin commented on #13
I currently have no plans scheduled, so any Wednesday should be fine. Unless something changes at the last minute.

[2015-12-11 19:37] gyandeeps commented on #13
For me any Wednesday in Jan and Feb works. :) Thanks

[2015-12-11 19:53] DonutEspresso commented on #17
He's OOO on vacation, so I imagine he has limited access to internet. I don't think he'll be back in town until last week of Dec.

[2015-12-11 20:00] kentcdodds commented on #17
Alright, why don't we schedule something and just hope he can make it. Why don't we plan on the 3rd of February?

[2015-12-11 20:14] kentcdodds commented on #12
@jdalton, @steveluc, @gauravseth, how does the 27th of January 2016 sound?

[2015-12-11 20:15] kentcdodds commented on #12
Oh, also, @jdalton, @steveluc, @gauravseth, if you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [this Google Doc](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81

[2015-12-11 22:53] avanderhoorn commented on #18
No worries, just let me know.

[2015-12-11 23:56] Norm- opened #20 "bundling backend applications with webpack"
**Title Idea:** webpack node bundling

**Idea:** Explaining target: "node", webpack-isomorphic-tools, babel 6

**Potential guest(s):** sokra

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a gues

[2015-12-12 00:13] kentcdodds commented on #20
Let's @ mention @sokra so he gets notified. What do you think @sokra? I'd love to have you on the show!

[2015-12-12 00:54] d0ruk commented on #20
Maybe expand the episode to "backend's role in the era of client" ?

Would love to hear @leebyron talk about REST-to-graphql transition, and the way servers need to evolve to service that need.

p.s. @halt-hammerzeit is the author of WIT.

[2015-12-12 01:33] leebyron commented on #20
:sunglasses:

[2015-12-12 07:34] catamphetamine commented on #20
Hello there.
I wrote `webpack-isomorphic-tools` as a small proof-of-concept tool but it seems to be quite usable in production (I mean some people are using it and it seems to work).
Still it may be viewed as a somewhat hacky approach (because it instruments `require()` calls).
But it's quite simple to grasp.

The original author of webpack @sokra has a project called "react-starter" with the `tar

[2015-12-12 21:33] sethgaurav commented on #12
:+1:

[2015-12-12 21:34] kentcdodds commented on #12
Confirmed with @gauravseth and I think the 27th will work. Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode

[2015-12-13 22:02] loganfsmyth commented on #14
@kentcdodds
- Logan Smyth
- loganfsmyth@gmail.com
- @loganfsmyth
- None
- Github avatar is fine: https://avatars2.githubusercontent.com/u/132260?v=3&s=460

[2015-12-13 22:10] amasad commented on #14
- Amjad Masad
- amjad.masad@gmail.com
- @amasad
- https://plus.google.com/u/0/+AmjadMasad
- https://avatars0.githubusercontent.com/u/587518?v=3&s=460

[2015-12-13 23:52] kentcdodds commented on #14
Alrighty, this show is ready to go. Thanks! You should have received an email with the show Google Doc. Let me know if you have any questions.

[2015-12-13 23:58] kentcdodds commented on #12
Alrighty, this show is ready to go. @steveluc and @jdalton, please let me know if you'll be able to attend and I'll get you on the docket as well (I'd really love to have both of you).

@sethgaurav, you should have received an email with a Google Doc. Let me know if you have any questions! RSVP to [this event](https://plus.google.com/events/cr1d6qpgnbgn5a77upg4hu010gk) to get it added to your cale

[2015-12-14 00:02] kentcdodds commented on #17
Alrighty, we're all set! You should both have received an email from me with a Google Doc.  Be sure to RSVP to [this event](https://plus.google.com/events/c36b25girvo89474lqo92loikic) to get it added to your calendar. @yunong you're still invited. Let me know if you're interested.

Let me know if you have any questions. Looking forward to the show!

[2015-12-14 00:09] kentcdodds commented on #13
Hey friends! I've updated the schedule for the upcoming shows. If you could give me your availability for the next 4 available slots in [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) (excluding the 30th because that wont work for @gyandeeps) that'd be awesome. Thanks!
- 2016-02-10
- 2016-02-17
- 2016-02-24
- 2016-03-02

[2015-12-14 01:22] feross commented on #13
@kentcdodds Sure! I'm happy to be part of the panel to discuss standard. Any of those time slots works for me.

[2015-12-14 01:38] gyandeeps commented on #13
@kentcdodds Any of those dates you mentioned work for me. :+1:

[2015-12-14 03:08] ilyavolodin commented on #13
Same here, no plans for any of those dates.

[2015-12-14 04:21] kentcdodds commented on #13
Fantastic. Let's plan on the 10th of February at [12:00 CST](http://www.thetimezoneconverter.com/). Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub re

[2015-12-14 04:47] kentcdodds commented on #9
Hi @gaearon, @DrBoolean, and @fogus. I'd like to schedule this show for the 30th. Let me know if you'd be interested in joining as our guests for the show and if you're available on that day.

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconve

[2015-12-14 04:55] kentcdodds opened #21 "REST to GraphQL Transition"
**Title Idea:** Transitioning from REST to GraphQL

**Idea:** We've heard about [GraphQL](https://facebook.github.io/react/blog/2015/05/01/graphql-introduction.html) [quite](https://www.youtube.com/watch?v=cr4QB3j8qFc) [a](https://www.youtube.com/watch?v=gY48GW87Feo) [bit](https://www.youtube.com/watch?v=S0s935RKKB4). We know that there are problems with REST and GraphQL solves many of those probl

[2015-12-14 05:00] kentcdodds commented on #20
@Norm-, thanks for the suggestion! I actually really like your GraphQL idea and I think it deserves its own episode so I've created another issue for that (cc @leebyron).

@halt-hammerzeit & @sokra, I'd really like to have you both on the show to talk about this. I wonder if @bebraw might be interested in joining the show as well :point_up_2: :-)

[2015-12-14 05:29] DrBoolean commented on #9
I'm all about this episode. I can be available anytime

[2015-12-14 13:23] gaearon commented on #9
I'll be happy to join.

[2015-12-14 15:34] gyandeeps commented on #13
@kentcdodds Email sent. Thanks

[2015-12-14 15:47] fogus commented on #9
Thank you for the offer, but I think that with @DrBoolean and @gaearon on the show anything that I would have to say would be redundant.  Therefore, I am happy to sit this one out and be a listener instead.  Enjoy!

[2015-12-14 15:58] kentcdodds commented on #9
Technically @DrBoolean and @gaearon are panelists and would be on the show anyway. We appreciate having people with different backgrounds and perspectives, so you're more than welcome to attend. But if you'd rather not I understand :-) Happy Holidays!

[2015-12-14 16:15] DrBoolean commented on #9
It would have been an honor :)

[2015-12-14 16:22] xjamundx commented on #13
I can do Feb. 10 if needed. Happy to help!

[2015-12-14 16:24] kentcdodds commented on #13
Sweet! We'd love to have you @xjamundx :-D Please get me your info :point_up_2:

[2015-12-14 19:44] leebyron commented on #21
I'm happy to participate

[2015-12-14 23:47] kentcdodds commented on #13
Hey everyone! So you should have received an email with a Google Doc for the show. Let me know if you have any questions! Really looking forward to this show!

Also, I recommend you RSVP to [the event on Google+](https://plus.google.com/events/cms6et0sffpkf92nucv1nf70c74) to get it added to your calendar :-)

[2015-12-15 00:05] hzoo commented on #13
I'm able to join in if there aren't too many people already

[2015-12-15 01:18] nikmd23 commented on #16
Awesome! My email is nikmd23@gmail.com

[2015-12-15 02:17] kentcdodds commented on #21
Awesome! How about you @schrockn? Loved [your React Rally talk](https://www.youtube.com/watch?v=KOudxKJXsjc), I think it'd be great to have you on the show on this topic specifically. That talk addressed subject a bit. What do you think?

Also, for both of you, what's your availability like for the available slots in [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.m

[2015-12-15 02:21] schrockn-zz commented on #21
I'm definitely interested. I'd be available for most dates starting in April.

[2015-12-15 03:16] kentcdodds commented on #21
How about April 6th?

[2015-12-15 18:34] kentcdodds commented on #13
Hi @hzoo, I think we're good. Looking forward to the Babel show with you :-)

[2015-12-15 18:43] nzakas commented on #13
I'll look forward to watching. :)

Also, I'd happily be a guest when I'm better. I just don't know how far in the future that will be. :(

[2015-12-15 18:54] kentcdodds commented on #13
Thanks @nzakas. You get better, then let me know. You'll always have a seat as a guest on the show. You've done enough for the community that we'll always benefit from having you on the show to talk about anything. :+1:

[2015-12-16 02:20] hzoo commented on #13
:+1: Will check it out as well!

[2015-12-16 16:00] kentcdodds commented on #16
@nikmd23, just noticed that you were just on JavaScript Jabber for this exact same topic. I don't mind doing repeats, but I prefer not to do the exact same guest on the exact same topic so close to when a subject has been covered by another podcast.

This is not a reflection on you. We're doing this for the community and there's a lot of other content to cover so I think I'm probably going to take

[2015-12-16 20:03] pselle commented on #9
Would love to have @bodil on the show for a functional episode! @bodil, you interested?

[2015-12-16 22:01] DrBoolean commented on #9
+1 on @bodil

[2015-12-16 22:47] mzabriskie commented on #9
I think that @jessitron would be a great guest for this episode.

[2015-12-16 23:10] kentcdodds commented on #9
Agreed. @bodil & @jessitron, what do you think? It's scheduled for 12:00 CST on the 30th.

[2015-12-16 23:20] kentcdodds commented on #9
Sorry, let me back peddle for a second. How's your availability for February?

[2015-12-16 23:21] kentcdodds commented on #9
More specifically, Wednesdays at 12:00 CST. See [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md)

[2015-12-17 23:13] linclark opened #22 "Firefox DevTools, React, and Redux"
@kentcdodds suggested we do an episode on Firefox DevTools.

**Title**: TBD

**Date**: January 13

**Tentative description** (feel free to suggest something else):
React is in your browser. Not just in web pages, but in the browser itself. We talk with developers from Firefox's Developer Tools team about how they're using React and Redux to build developer tools, and how the two make the DX (devel

[2015-12-17 23:15] kentcdodds commented on #22
Really looking forward to this show! I need a few things from you all (except you @linclark) to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following informat

[2015-12-17 23:16] #16 closed

[2015-12-17 23:16] #3 closed

[2015-12-18 19:51] nikmd23 commented on #16
No problem @kentcdodds - I understand.

[2015-12-18 20:49] kentcdodds commented on #16
@nikmd23, I just listened to that episode on JSJabber. Super good stuff (just like your first episode on there). Thanks!

[2015-12-21 20:04] kentcdodds opened #23 "Add discus to the episode page."
Hey @alexbooker. Wanna take a look at this?

[2015-12-21 20:08] kentcdodds opened #24 "Fix css"
Not one giant file.

[2015-12-21 20:08] kentcdodds commented on #24
cc @alexbooker

[2015-12-21 20:14] kentcdodds opened #25 "Swap Icon Fonts with SVG"
Perf, a11y, etc. etc. etc. cc/ @alexbooker

[2015-12-21 21:59] bookercodes commented on #24
@kentcdodds I have been skimming the code and I noticed you defined a handful of utility classes like _`.flexbox`_ and _`.text-centre`_.

When we migrate to PostCSS, would it be cool if I used  [_mixins_](https://github.com/postcss/postcss-mixins) instead? I promise it'll be clean :smile:

The reason I want to use mixins is that, utility classes don't scale well when it comes to media queries - be

[2015-12-21 22:03] kentcdodds commented on #24
Sounds awesome :+1: I'm a big fan of utility classes. If you can make it easy for me to keep using them then I'm good :D

[2015-12-22 16:50] alexbooker opened #27 "Panelist Twitter Links Are Broken"
We noticed that the _panelists_ Twitter links are broke:

![](https://i.imgur.com/gKn2zUH.png)

As you can see in the above screenshot, the problem stems from the fact that the anchor elements do not have `href` attributes.

I did some investigation, and the problem is this:

The [`Person` component](https://github.com/javascriptair/site/blob/14d0465b7c6424e41f2cb4bebd6e91ae9fea3260/src/components

[2015-12-22 16:54] kentcdodds commented on #27
Thanks for researching that! This was definitely due to a refactor issue. I think the best place to populate the `link` attribute for panelists would be [here](https://github.com/javascriptair/site/blob/master/resources/panelists/index.js#L14-L16).

The host is hard-coded and we could just add a link [here](https://github.com/javascriptair/site/blob/master/src/pages/home/sections/host.js#L11). Wha

[2015-12-22 17:09] bookercodes commented on #27
@kentcdodds If you're happy with that, then sure. I'll get on that now.

[2015-12-22 17:23] #27 closed

[2015-12-22 17:24] kentcdodds commented on #27
Thanks for fixing this!

[2015-12-23 19:27] rauschma commented on #8
I just saw today’s edition. Well done!

My problem is that I’ve never been as busy as I am right now and that @bevacqua and I are already scheduled for an ES6 podcast on January 5. So for the next few months, I’ll have to decline (but you may already have covered the topic with today’s edition, anyway).

[2015-12-23 19:58] kentcdodds commented on #8
Oh don't tell me the awesome people over at JavaScript Jabber got you first did they?! Haha, oh well, I'll enjoy that show for sure. I'll put this in the backlog and maybe have you on to talk about the features of ES7 in a month or two.

[2015-12-23 20:03] bevacqua commented on #8
+1 to what Axel said, maybe later down the road ^^

[2015-12-24 11:40] gemmadlou commented on #23
+1 (for disqus)

[2015-12-30 13:24] kentcdodds commented on #22
Ping @jlongster and @jsantell, could you both get me the info requested above so I can get this episode on the website? Thanks!

[2015-12-31 05:52] jlongster commented on #22
Sorry, missed the previous mention!
- James Long
- longster@gmail.com
- jlongster
- profile: https://pbs.twimg.com/profile_images/622146266823155712/RjmeRIOn.jpg

[2016-01-02 08:14] vramana commented on #22
I would like to see both Chrome and Firefox DevTools people on the same show. It would be interesting to know both their view points. May you can invite @paulirish or @paullewis from the chrome team ??

[2016-01-02 14:08] kentcdodds commented on #22
I think there's enough content for each to have their own show. Since you bring it up...

 @paulirish or @paullewis, would either of you be interested to come on the show sometime?

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/).

[2016-01-04 15:52] pselle commented on #15
I would love to have @juliemr on the show!

[2016-01-04 16:00] kentcdodds commented on #15
@juliemr was on the Angular Air version of this show. :D

I think that you'd be great to have on JavaScript Air! JavaScript Air is pretty much what you think it is. Shows are on Wednesdays at 12:00 CST. What do you think?

[2016-01-04 23:13] yunong commented on #17
I'm in, looking forward to it.

[2016-01-04 23:15] #9 closed

[2016-01-04 23:16] kentcdodds commented on #17
Fantastic @yunong! Really looking forward to this show! I need a few things from @yunong to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information

[2016-01-04 23:34] juliemr commented on #15
@kentcdodds sure, I'd be interested!

[2016-01-04 23:58] kentcdodds commented on #13
Hey everyone (@feross, @gyandeeps, @ilyavolodin, and @xjamundx)... So I apologize for doing this to you all, but I'm going to be at Forward Web Summit on the date this show is scheduled. I'm hoping to do a live show at the conference. Is there any chance that we can push this back on week to the 17th?

[2016-01-05 00:01] kentcdodds opened #32 "Forward Web Summit"
We may be able to do a live show at Forward Web summit with @DrBoolean, @getify, and anyone else who will be there. Thoughts? Still confirming with the forward team, but I'm sure we could do it.

[2016-01-05 00:05] kentcdodds commented on #15
Awesome! Let's schedule a good day then! Could you let me know if any of the available dates on [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) work for you at [12:00 CST](http://www.thetimezoneconverter.com/)?

[2016-01-05 00:13] kentcdodds commented on #22
Alrighty, the website's updated. @jsantell, could you get me your email address so I can share the Google Doc with you? Thanks!

[2016-01-05 00:15] juliemr commented on #15
16/3/2, 16/3/16 16/3/30 all would work.

[2016-01-05 00:17] kentcdodds commented on #15
Fantastic! Let's go with the 2nd of March then! I'm pretty sure I've got all of your information. I'll let you know when the website's updated and you should receive an invite to a Google Doc eventually :-)

[2016-01-05 00:17] kentcdodds commented on #15
Also, thanks, I think this is going to be great! :D

[2016-01-05 00:24] feross commented on #13
The 17th is fine for me. Also, sent you an email with my details, as requested before.

[2016-01-05 05:40] xjamundx commented on #13
New date is fine.

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information as you’d like it to appear on the site and description of the podcast (if you’d prefer, you can email this info to javascriptair@gmail.com):

Jamund Ferguson
(you know my email)
@xjamundx
https://plus.google.com/u/0/+JamundFerguson
https://cldup.com/glpTjXPw2

[2016-01-05 15:21] getify commented on #32
I'm down for it. :)

[2016-01-05 15:35] gyandeeps commented on #13
17th works for me. Thanks

[2016-01-05 15:58] DrBoolean commented on #32
Tyler should be there too. I can get a free ticket for anyone else if they want to come along.

[2016-01-05 16:07] kentcdodds commented on #32
@DrBoolean, could you ensure that we have a place to actually do this. I still haven't heard back from Forward as to whether they're cool with us doing this.

[2016-01-05 16:32] DrBoolean commented on #32
Yep!

[2016-01-05 16:45] kentcdodds commented on #32
@DrBoolean, can you tell me what time it will be and if it'll definitely be on the 10th?

[2016-01-05 16:50] ilyavolodin commented on #13
Works for me as well.

[2016-01-05 17:21] kentcdodds opened #33 "React Conf"
Live show at React Conf :D

[2016-01-05 17:25] tylermcginnis commented on #32
:+1:

[2016-01-05 19:03] kentcdodds commented on #32
So the show's up on the site (http://jsair.io/forward) (@DrBoolean, let me know if the time needs to be changed). Any way we could get Forward to blast this out? They could use our tweet image:

![tweet](https://cloud.githubusercontent.com/assets/1500684/12124721/47a7c534-b3a4-11e5-8512-c1997ccc3a9d.png)

[2016-01-06 07:36] tylermcginnis commented on #33
:+1:

[2016-01-06 17:11] jsantell commented on #22
@kentcdodds just catching up on holiday mail! Sorry for the delay
- Jordan Santell
- github name at mozilla dot com
- @jsantell
- https://avatars1.githubusercontent.com/u/641267?v=3&s=460

[2016-01-06 17:23] kentcdodds commented on #22
You're good. Thanks Jordan. Looking forward to [the show](jsair.io/ff-react-redux)

[2016-01-06 20:42] jlongster commented on #22
@kentcdodds the gdoc you shared, are we supposed to fill it out with some initial content we think we could talk about?

[2016-01-06 20:51] kentcdodds commented on #22
You definitely can if you'd like. Sorry, I don't think I gave you my normal spiel when I shared it with you:

Let me know if you have any more questions. Looking forward to the show next week :-)

[2016-01-06 21:15] kentcdodds opened #34 "Redesign the Site"
@Connorelsea provided this design:

<img width="960" alt="javascriptair2" src="https://cloud.githubusercontent.com/assets/1500684/12154972/e21864da-b47f-11e5-9d47-063d598a4e10.png">

[2016-01-06 21:15] kentcdodds commented on #34
@alexbooker will be helping implement this as well :-)

[2016-01-06 21:22] kentcdodds commented on #34
We're going to need some SVG icons. Could definitely use some help from an SVG master.

[2016-01-06 23:47] awolf commented on #34
Not a master, but I can use Sketch in Anger. What do you need?

1.) JavascriptAir logo
2.) Get the podcast
3.) Add Calendar icon
4.) JavascriptAir confetti sides

[2016-01-06 23:58] bookercodes commented on #34
@awolf Firstly, thank you very much for offering to help.

At the moment @connorelsea is updating the design. As a result, the icons are subject to change.

Would it be alright if either myself, @kentcdodds or @connorelsea pinged you when we have a clearer vision? I'd hate for you to work on something now that we can't use later.

[2016-01-07 00:01] awolf commented on #34
Absolutely, I am now watching the repo. @awolf

[2016-01-07 00:02] bookercodes commented on #34
@awolf :+1:

[2016-01-07 00:08] kentcdodds commented on #34
:+1: thanks @alexbooker and @awolf. Looking forward to what we can deliver to the community :D

[2016-01-07 14:20] #10 closed

[2016-01-08 05:33] Connorelsea commented on #34
Sorry it took me a while to get back with updated mockups. Shortly after our conversation, my team realized we won Best in State for the Verizon App Challenge and it kind of detoured my work.

We can most likely work incrementally on sections as follows.
1. Yellow header area with two call-to-action buttons
2. Upcoming and past shows
3. Guest, sponsor, and host sections on the home page
4. Episode

[2016-01-08 05:47] kentcdodds commented on #34
Hi @Connorelsea! Congrats on winning Best in State! :tada: :confetti_ball:

I like what you've outlined. Let's try to stick to that plan. Feel free to create an issue for each of those things if you like (I'm fine either way).

I've updated the `CONTRIBUTING.md`. Let me know whether it works for you :-)

[2016-01-08 18:29] #14 closed

[2016-01-08 18:36] kentcdodds opened #35 "Wordpress ❤️ JavaScript"
**Title:** Wordpress ❤️ JavaScript

**Description:** Wordpress recently made a big shift for the admin interface of the platform. They’re going all JavaScript with NodeJS and React. [Matt Mullenweg](http://ma.tt/) [Automattic](https://automattic.com/) CEO (and founding Wordpress developer) will join us to talk about this project (codenamed [Calypso](http://ma.tt/2015/11/dance-to-calypso/)) and wha

[2016-01-08 18:46] kentcdodds commented on #35
Also, @m, please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Don't worry about getting me any of the info mentioned, I've got it all. But hopefully the doc will give you an idea of what to expect for the show :-)

Thanks!

[2016-01-08 19:07] Connorelsea commented on #34
@kentcdodds I can begin creating the issues once I have resolved some problems I've been having.

Both the styles and images on the page are being loaded like this "/styles.dist.css" and aren't loading at all on my machine locally. After looking into this, I realized that the initial slash is causing the files to load from the root directory of my machine. Removing the initial slashes from the fil

[2016-01-08 19:12] kentcdodds commented on #34
Ah, I forgot to mention one other change in the setup. I've updated the contributing. Thanks!

[2016-01-08 19:29] bookercodes commented on #34
@Connorelsea Sounds good to me.

Want me to create a fork and add you a collaborator? I'll create a pull request here immediately so we can benefit from CI and @kentcdodds' comments.

(The reason I want to work on a fork is that we can both have commit access. What's more,  it'll allow us to make a single tidy merge request here.)

[2016-01-08 20:46] Connorelsea commented on #34
@alexbooker Or just each have our own forks and fetch from each other's as needed. Hopefully the modularization of the CSS will allow us to work on different sections of the work concurrently, making specific pull requests for specific sections of the work. A singular fork and concurrent work may cause confusion and/or merge conflicts, but if you think that would be better than two forks, we can d

[2016-01-08 20:57] bookercodes commented on #34
I do believe the workflow I described above to be the simplest.

We won't be any more or less likely to encounter merge conflicts, as the workflow will essentially be the same.

Admittedly I haven't given too much thought as to how to best modularise the CSS. When I get on my computer, I can layout the infrastructure. Sound good?

[2016-01-09 00:40] Connorelsea commented on #34
@alexbooker Sounds good. Just let me know what you decide for the base modularization and then we can get to working.

[2016-01-10 03:05] kentcdodds opened #39 "Fluent Conf"
We'll be live at Fluent Conf!

[2016-01-10 15:31] kentcdodds opened #40 "JavaScript Utils & Lodash"
**Title:** JavaScript Utils & Lodash

**Description:** Lodash v4 had been released (by the time this episode happens). This JavaScript library of utilities is one of the most widely used utility belts of the enormous JavaScript ecosystem. We're going to talk with John, the mastermind behind this utility (and fork of underscore) about his experience building such a ubiquitous tool and what it can d

[2016-01-10 15:34] kentcdodds commented on #40
Also, @jdalton, please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). I only need your email address though. I have everything else. Hopefully the doc will give you an idea of what to expect for the show :-)

Thanks!

[2016-01-11 17:25] jdalton commented on #40
I'm interested in being a guest though I'll be heads down prepping for the Tues (Jan 12th) release.

[2016-01-11 17:26] kentcdodds commented on #40
You're good. We're scheduled out a ways. How does March 2nd sound?

[2016-01-11 17:26] jdalton commented on #40
Sounds great!

[2016-01-12 17:10] kentcdodds commented on #15
Oh no! @juliemr, I dropped the ball on this one and forgot to add your show to the schedule :-( Will the 16th of March still work for you?

[2016-01-12 17:12] juliemr commented on #15
@kentcdodds Yeah, 16th March would work just as well!

[2016-01-12 17:13] kentcdodds commented on #15
Great! I'll get everything set up. I'm sorry about that :-/ Looking forward to the show!

[2016-01-12 17:14] kentcdodds commented on #15
Also, please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Don't bother sending me anything. I already have everything I need from you to get this scheduled. Thanks!

[2016-01-15 14:48] peterc commented on #39
We're looking forward to this!

[2016-01-15 15:02] kentcdodds commented on #39
Me too!

[2016-01-21 04:27] #4 closed

[2016-01-22 20:07] kentcdodds opened #41 "Font"
We may want to improve the font used for the site.

[2016-01-22 21:34] Connorelsea commented on #41
I'll give my opinions from the other discussion thread so anyone else looking at this issue can see.

I think we should stick with an approach similar to the approach described by Stack Overflow, Wikipedia, and CSS Tricks. I will update this as I think and get more ideas.

### Brief Description

 In the simplest description possible, simply use native fonts. Helvetica Neue on OSX, which looks fant

[2016-01-28 00:22] #12 closed

[2016-02-03 21:24] kentcdodds opened #42 "live @ ng-conf"
Details forthcoming

[2016-02-07 02:47] #17 closed

[2016-02-07 02:48] #22 closed

[2016-02-19 03:23] kentcdodds opened #46 "JavaScript Air: Live and on-site at The Strange Loop"
:tada: http://www.thestrangeloop.com/

[2016-02-19 15:19] DrBoolean commented on #46
+1, +1 a million times +1

[2016-02-20 21:33] #13 closed

[2016-02-27 20:58] #33 closed

[2016-03-03 06:43] kentcdodds opened #47 "AVA"
I'd love to have @jamestalmage, @vdemedes, and @novemberborn on JavaScript Air to talk about the AVA framework (sadly @sindresorhus will not be joining us :disappointed:).

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more

[2016-03-03 06:44] kentcdodds opened #48 "Live at KCDC"
More info to come

[2016-03-03 07:09] jamestalmage commented on #47
I'm in. Any of those dates should work for me.

James Talmage
https://twitter.com/jamestalmage
https://plus.google.com/u/0/+JamesTalmageR
Just use my twitter pic.

[2016-03-03 07:10] kentcdodds commented on #47
Awesome! I'm leaning toward the 23rd. Does that work for you @vdemedes and @novemberborn?

[2016-03-03 11:21] novemberborn commented on #47
Neat! 23rd would be fine.

Mark Wubben
https://twitter.com/novemberborn
https://plus.google.com/+MarkWubben
https://github.com/novemberborn/novemberborn.net/blob/2715eb1c21125dcaedec99e0d53b8c66cd22e744/static/rowing.jpg

[2016-03-03 11:29] vadimdemedes commented on #47
Let's see what happens, this is frightening, haha! I'm in, 23rd works for me as well.

Vadim Demedes
https://twitter.com/vdemedes
https://plus.google.com/114023635741969116976
https://pbs.twimg.com/profile_images/685421313117302784/sImpi3K_.jpg

[2016-03-03 16:51] jamestalmage commented on #47
@kentcdodds - How long is the show? I am listening to the Babel episode now, 69 minutes! Are we going to have enough to talk about? Do we need to outline the major talking points ahead of time.

[2016-03-03 16:57] kentcdodds commented on #47
Great everyone! I'll get you on the schedule!

The show is supposed to be 60 minutes. I've been doing better at keeping to that time that recently. We'll totally have plenty to talk about. I'll set up a Google Doc with all the relevant information for the show and we can fill it with subjects to discuss. Generally we have about 45 minutes to talk about stuff with announcements and the tips & picks

[2016-03-03 16:58] #40 closed

[2016-03-03 16:59] #32 closed

[2016-03-03 17:58] kentcdodds opened #49 "JavaScript Frameworks: Angular"
cc @mhevery, @igorminar, and @bradlygreen

Looks like the show will be April 6th!

Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Don't worry about sending me anything. I have everything for you :-)

Thanks!

[2016-03-03 18:36] jamestalmage commented on #47
@sindresorhus should come lurk on the call anyways (If for no other reason than to IM me angry emoji when I say something stupid).

[2016-03-03 18:45] kentcdodds commented on #47
You know, @kittens said no when I invited him to the Babel show, but jumped on mid-show. It was a fun surprise :-)

[2016-03-04 04:51] mhevery commented on #49
Looking forward to it.

On Thu, Mar 3, 2016 at 9:58 AM Kent C. Dodds notifications@github.com
wrote:

[2016-03-08 07:37] kentcdodds commented on #47
@novemberborn, could you get me your email address? I need to share a Google Doc with you :-)

[2016-03-08 07:37] kentcdodds commented on #47
@jamestalmage and @vdemedes, you should have received a Google doc from me just a moment ago. Let me know if you didn't :-)

[2016-03-08 07:38] kentcdodds commented on #15
Hi @juliemr! You should have received a Google Doc from me. Let me know if you haven't. Looking forward to the show next week!

[2016-03-11 21:05] #39 closed

[2016-03-14 17:46] sapegin opened #50 "Invert order of past episodes list"
I think it’s more common to show more recent episodes/posts/whatever first in this kind of lists. And since you removed dates it the new design it’s harder to undrestand that the list is reversed.

[2016-03-14 17:48] kentcdodds commented on #50
You make great points! What if we add the episode index next to the title? With that I'd be fine with either approach.

[2016-03-14 17:49] kentcdodds commented on #50
Thoughts @alexbooker, @Connorelsea, @awolf?

[2016-03-14 17:53] sapegin commented on #50
Not sure. What do you think is more desired for the user: recent episodes or first episodes?

[2016-03-14 17:56] kentcdodds commented on #50
Good question to ask! I'm mostly interested in ease of finding the episode they're looking for. Probably recent episodes first makes the most sense...

[2016-03-14 18:24] awolf commented on #50
Recent to first is what I would expect.

[2016-03-14 18:27] kentcdodds commented on #50
Awesome. A PR to fix this would be pretty simple. Anyone wanna [makeapullrequest.com](http://makeapullrequest.com)?

Here's where you'd make your changes: https://github.com/javascriptair/site/blob/f98a36b2a227259baab38de4ae819137e8cc6861/src/pages/home/sections/episodes/episodes.js#L16

Probably just a matter of telling lodash to reverse the sort order :-)

[2016-03-14 18:29] kentcdodds commented on #50
Also, you may want to make a change to [this function](https://github.com/javascriptair/site/blob/f98a36b2a227259baab38de4ae819137e8cc6861/src/pages/home/sections/episodes/episodes.js#L74) to be able to add the episode index (but only for PastEpisodes, not for FutureEpisodes). That will be a little more of a challenge.

Remember, our first episode is episode `0` :-)

[2016-03-14 18:36] bookercodes commented on #50
@sotojuan said she'll/he'll do it: https://twitter.com/_hooan/status/709447420086775810.

[2016-03-14 19:40] da-vaibhav opened #52 "fix line height in "Past Episodes" section"
![screen shot 2016-03-15 at 1 06 19 am](https://cloud.githubusercontent.com/assets/1468518/13757424/5e75aa42-ea4a-11e5-9625-60a3c5d35698.png)
the line which spans to multiple lines (3rd one) has very little distance from the text above it

[2016-03-14 19:43] kentcdodds commented on #52
Agreed! Probably a simple css fix. Wanna [makeapullrequest.com](http://makeapullrequest.com)? Right now the CSS stuff is [here](https://github.com/javascriptair/site/tree/f98a36b2a227259baab38de4ae819137e8cc6861/resources/css)

[2016-03-14 19:54] da-vaibhav commented on #52
sure, I am on it. Thanks.

[2016-03-14 20:00] da-vaibhav opened #53 "word baseline is overlapped by background color of next section"
observe the letter P in 'sponsors' text whose baseline part is overlapped when hovering on the section which is next to it.
This happens in all 3 sponsor sections.
![screen shot 2016-03-15 at 1 18 03 am](https://cloud.githubusercontent.com/assets/1468518/13757956/e2d28470-ea4c-11e5-81ae-7a0ac68eddba.png)
on hover:
![screen shot 2016-03-15 at 1 28 34 am](https://cloud.githubusercontent.com/assets/1

[2016-03-14 20:01] kentcdodds commented on #53
Nice catch! PR for this is welcome too! Please include a screenshot with your PR if you would please :-)

Also, for your first PR, please add yourself to the contributors in the `data` folder :-)

[2016-03-14 20:06] da-vaibhav commented on #53
yup, thanks :-)

[2016-03-14 20:50] #50 closed

[2016-03-14 20:53] Connorelsea opened #54 "Request: Make tagline a bit more descriptive"
Would be good for people looking to contribute or recruiters looking at contributors pages and wondering what it is.

![img_2016-03-14 15 52 48](https://cloud.githubusercontent.com/assets/1844458/13759559/d16b21ba-e9fc-11e5-9f47-e0cecde0714e.jpg)

[2016-03-14 20:58] kentcdodds commented on #54
👍

[2016-03-14 20:59] Connorelsea commented on #54
Awesome!

[2016-03-14 20:59] #54 closed

[2016-03-14 20:59] kentcdodds commented on #54
<img width="375" alt="screen shot 2016-03-14 at 2 59 21 pm" src="https://cloud.githubusercontent.com/assets/1500684/13759775/5ce88abe-e9f5-11e5-9efd-577f04682263.png">

That's better :-)

[2016-03-14 21:04] awolf commented on #25
@kentcdodds has this been completed with the recent site redesign.? If not, what SVG's do we need?

[2016-03-14 21:05] kentcdodds commented on #25
I think it's been fixed with the redesign merge. Do you wanna double check around the site and report back please? :-)

[2016-03-14 21:06] awolf commented on #25
Will do.

[2016-03-14 21:13] bookercodes commented on #25
@awolf The confetti images still need optimizing. Can you please do this or suggest a tool to use? Thanks.

[2016-03-14 21:16] #52 closed

[2016-03-14 21:16] #53 closed

[2016-03-14 21:47] awolf commented on #25
I will do it tonight.

Sent from my iPhone

[2016-03-14 22:49] #25 closed

[2016-03-14 22:57] sotojuan opened #59 "Clearer image compressing instructions"
It would be nice to add something like this [this section](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md#images):

Could be written a little less verbose, but you get the point. Can do this in a PR!

Alternatively, we can discuss changing the behavior of `imagina` to overwrite the original image.

[2016-03-14 23:00] kentcdodds commented on #59
Yeah, the problem is that some people might actually use this tool on an image they have locally that they use for other stuff and wouldn't want the original to be impacted (think immutability :wink:). So I'm thinking probably just documenting the behavior is good. I'd appreciate a PR. Thanks!

[2016-03-15 15:19] #59 closed

[2016-03-15 20:47] kentcdodds opened #61 "Emoji in the title doesn't render"
See [javascriptair.com](http://javascriptair.com) right now:

<img width="988" alt="screen shot 2016-03-15 at 2 32 35 pm" src="https://cloud.githubusercontent.com/assets/1500684/13793494/b8d2f388-eabc-11e5-91e0-5b97da41ca00.png">

Anyone have any ideas? This worked before the redesign was merged if that's helpful.

[2016-03-16 01:13] bookercodes commented on #61
I cannot reproduce this locally.

In Chrome with [Emoji Keyboard](https://chrome.google.com/webstore/detail/emoji-keyboard-2016-by-em/ipdjnhgkpapgippgcgkfcbpdpcgifncb) installed, this is what I see:

![](http://i.imgur.com/dMIxS9G.png)

In Firefox with no extensions installed, this is what I see:

![](http://i.imgur.com/WO1JAKl.png)

I am running Arch Linux.

[2016-03-16 01:22] kentcdodds commented on #61
I should say this is on Mac. Works fine on my phone.

[2016-03-16 18:56] da-vaibhav commented on #61
looks fine on Firefox. I think its problem only with chrome on mac.

[2016-03-16 19:03] da-vaibhav commented on #61
here is the solution I found on [stackoverflow](http://stackoverflow.com/questions/35395708/unicode-emojis-not-showing-on-chrome), its the problem with value of font-weight property. Setting it bold renders it invisible.

[2016-03-16 19:05] kuzzmi commented on #61
Yeah, it appears to be an issue with making Emojis bold in Chrome on Mac, I've just tested on my Mac with Chrome DevTools.

[2016-03-16 19:05] kentcdodds commented on #61
Yep! That's the issue @da-vaibhav. I'll look into fixing it...

<img width="1053" alt="screen shot 2016-03-16 at 1 05 01 pm" src="https://cloud.githubusercontent.com/assets/1500684/13825355/c3fbe1b4-eb77-11e5-831b-e8e9617e6d07.png">

[2016-03-16 19:06] #61 closed

[2016-03-16 19:07] kentcdodds commented on #61
A fix (hopefully) is building now. Thanks @da-vaibhav! Probably could/should have made that a first-timers-only issue... `¯\_(ツ)_/¯`

[2016-03-16 19:10] kentcdodds commented on #61
:sweat_smile: this is why I should have done this locally and tested it out first...

<img width="1105" alt="screen shot 2016-03-16 at 1 09 46 pm" src="https://cloud.githubusercontent.com/assets/1500684/13825494/6982189c-eb78-11e5-9346-ec20f9e38d44.png">

![muppets-annoyed-vwI4mYEHP8k0w](https://camo.githubusercontent.com/4acbc70170a591d6f6298f297293d244d3b68456/68747470733a2f2f6d65646961302e67697

[2016-03-16 19:12] Ekthelion commented on #61
yup, on win10:
![capture](https://cloud.githubusercontent.com/assets/2337180/13825569/65dd71c4-ebb3-11e5-847f-bd357ff847d2.PNG)

[2016-03-16 19:12] da-vaibhav commented on #61
:sob:

[2016-03-16 19:13] kentcdodds commented on #61
Fixing now. I could have sworn it was OK to use markdown for the title... hee hee

[2016-03-16 19:18] kentcdodds commented on #61
Alright, just pushed a real fix. How embarrassing! Should be up in a minute.

[2016-03-16 19:20] Ekthelion commented on #61
works!

[2016-03-16 19:25] kentcdodds commented on #61
![day-subreddit-msKNSs8rmJ5m](https://camo.githubusercontent.com/f53ccacdd8379facfcb4bd8333417ca9e27f6b0a/68747470733a2f2f6d65646961312e67697068792e636f6d2f6d656469612f6d734b4e537338726d4a356d2f67697068792e676966)

[2016-03-16 19:57] da-vaibhav commented on #61
this fix actually caused another change. the text inside anchor tags in the past episodes section is wrapped inside `p` tag, which caused line breaks for all the links. all the participants' names are on next lines now.
![screen shot 2016-03-17 at 01 26 20](https://cloud.githubusercontent.com/assets/1468518/13826783/4c6a61b2-ebdf-11e5-94ce-d6eef8365c84.png)

![screen shot 2016-03-17 at 01 25 58](h

[2016-03-16 19:59] kentcdodds commented on #61
Ah... :sweat_smile: I thought something looked different... Pushing a fix now. Thanks!

[2016-03-16 21:15] sotojuan opened #62 "Bad formatting in Episode 001's Links, Tips, and Picks"
Just wondering if [this](https://github.com/javascriptair/site/blob/master/episodes/2015-12-16/index.js#L20) formatting of two Markdown links is intentional. Looks like this on the site:

<img width="555" alt="screen shot 2016-03-16 at 4 15 27 pm" src="https://cloud.githubusercontent.com/assets/8217766/13828941/553f2d24-eb92-11e5-9649-a14673b5ede0.png">

[2016-03-16 21:23] kentcdodds commented on #62
Nope! Please feel free to PR a fix if you'd like :-)

[2016-03-16 21:46] #62 closed

[2016-03-16 23:20] kentcdodds opened #64 "Redesign Contributors page"
Make it consistent with our homepage design. Let's chat :-)

[2016-03-16 23:21] kentcdodds opened #65 "Redesign Deals page"
Make it consistent with our homepage design. Let's chat :-)

[2016-03-16 23:21] kentcdodds opened #66 "Redesign episode page"
Make it consistent with our homepage design. Let's chat :-)

[2016-03-16 23:21] kentcdodds opened #67 "Redesign guests page"
Make it consistent with our homepage design. Let's chat :-)

[2016-03-16 23:31] jpoo90 commented on #66
Hi @kentcdodds I can help :bowtie:

[2016-03-16 23:36] Connorelsea commented on #66
I had some ideas to make the episode page share a ton of code with the episode cards already on the home page and had planned on implanting that. I can take this one if that's okay. And I am also working on a mockup for the global title right now.

[2016-03-16 23:55] jpoo90 commented on #66
@Connorelsea Cool, go ahead ! You have already made progress here.

[2016-03-16 23:57] Connorelsea commented on #66
@jpoo90 We can definitely work together if you want! And there are other pages to be done as well that are up for grabs. Whichever way works with you is good!

[2016-03-17 00:09] jpoo90 commented on #66
@Connorelsea We can definitely work together. Since you've been working here for a while I'd like your suggestions. Are the other pages co-related too ?

[2016-03-17 00:10] Connorelsea commented on #66
Currently I am mocking up a global header for each page to keep them consistent (about to open a new issue after that) and then it is basically creative freedom for the content of each page as long as it fits with the theme of the home page.

[2016-03-17 00:12] Connorelsea opened #68 "Design and implement global header for non-index pages"
Here is the design I have created for the global header. If this is good, let me know and I can begin implementation. The "View Next Show" box would only appear on the episodes page. On other pages it would simply not appear. Maybe something else can go there on other pages, but I have no ideas for that yet.

<img width="576" alt="globalheader" src="https://cloud.githubusercontent.com/assets/18444

[2016-03-17 00:21] kentcdodds commented on #68
:+1: good first pass. A few things I'm not in love with. Having the confetti behind the logo looks funny. I like it on the right side though.

Not sure about what should go on the nav... What do others think?

[2016-03-17 00:22] Connorelsea commented on #68
Ah yeah forgot to mention that the nav links I wasn't sure about. Mostly just getting a pass on the design so then we can discuss specific content. So let me know what the specific nav links should be.

[2016-03-17 01:32] rajasekarm commented on #64
Hi @kentcdodds I can help in redesigning contributors page.

[2016-03-17 01:44] rajasekarm commented on #65
I can help in redesign of deals, contributors and guest page.

[2016-03-17 12:49] rajasekarm commented on #68
@Connorelsea  can you finalize the design and share me the psd. I will start implementing it. Thanks.

[2016-03-17 17:12] Connorelsea commented on #68
I had already started implementing it on my fork after Kent gave his feedback. I'm in class right now, but I'll work something out where we can work together whenever I'm off.

[2016-03-17 21:05] kentcdodds commented on #35
Hey @m, I heard you on [The Changelog](https://changelog.com/197/) recently. It was a great episode! Because I generally like to keep topics and guests spread out (even across shows), I think we'll probably push this one back and maybe revisit in the future.

Unless you feel like there's something you could share with us that you didn't get a chance to on The Changelog. Let me know :-)

[2016-03-17 21:07] kentcdodds commented on #21
@leebyron and @schrockn, here's [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md). Which of these dates work well for you?
- 2016-03-30
- 2016-04-14
- 2016-04-20

[2016-03-18 01:49] rajasekarm commented on #68
yup sure. @kentcdodds  do we have any common chat, so that we can discuss it over there rather than in comments??

[2016-03-18 03:56] kentcdodds commented on #68
We do now :-) https://gitter.im/javascriptair/site

[2016-03-18 17:33] #15 closed

[2016-03-19 09:43] da-vaibhav opened #70 "add discussion channel link"
add gitter channer link https://gitter.im/javascriptair/site to CONTRIBUTING.md and README.md

[2016-03-19 14:26] #70 closed

[2016-03-19 20:25] kentcdodds opened #72 "Internet of Things with JavaScript"
**Title:** Internet of Things with JavaScript

**Description:** The world is becoming more and more interconnected with more devices joining and communicating on the network every day. The space of hardware hacking is exciting! It's becoming even more welcoming to developers as the barrier to entry has been decreased significantly with JavaScript.

For more information about being a guest, see [th

[2016-03-20 02:42] leebyron commented on #21
4/14 works for me, the other two days conflict with travel.

[2016-03-20 03:37] kentcdodds commented on #21
Sounds great. Will that work alright for you too @schrockn?

[2016-03-20 03:57] schrockn-zz commented on #21
4/14 should work for me sounds great!

[2016-03-20 04:03] kentcdodds commented on #21
Oh, whoops. Not sure how that happened. That should be 4/13 actually. Does that still work for both of you?

[2016-03-20 05:18] leebyron commented on #21
Yep, still good 

[2016-03-21 21:20] vadimdemedes commented on #47
@kentcdodds filled out my tips & picks, excuse me for doing it so late!

[2016-03-21 21:29] kentcdodds commented on #47
No worries. Many people don't do it until the day of :-)

[2016-03-21 22:41] phoddie commented on #72
Hello --

Yes, I can join on 4/20.

-- Peter

[2016-03-21 23:12] kentcdodds commented on #72
Awesome @phoddie! And @rwaldron? Can you make it on the 20th?

[2016-03-22 02:54] kentcdodds opened #74 "The Science of People in Tech"

[2016-03-22 04:44] kentcdodds opened #75 "JavaScript Frameworks: Vue.js"
Planning on having a show with @yyx990803 about Vue.js on the 30th of March. :+1:

@yyx990803, if you feel anyone else could contribute well to the conversation, that'd be great to @ mention them here and invite them to join us :-)

[2016-03-22 04:46] kentcdodds commented on #75
For the benefit of anyone @yyx990803 invites:

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [this Google Doc](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGK

[2016-03-22 16:10] kentcdodds commented on #21
Ping @schrockn, I'm going to assume (read: hope) that you can make it on the 13th (sorry about the mixup). I'll put it on the site that way. If that doesn't work, please let me know and we can work something out :-) Really looking forward to this show!

[2016-03-22 16:11] kentcdodds commented on #21
Oh, and one other question. Do you know of anyone in the community who has actually made the transition from REST to GraphQL? Would be great to have them on as well :+1:

[2016-03-22 16:57] kentcdodds commented on #72
I'm going to go ahead and put this on the 20th. @rwaldron, I hope you can make it :-) But no pressure!

@nodebotanist, @gelicia, and @phoddie, looking forward to having you on the show! I'll be in touch with you later here :-) Let me know if you have any questions until then :D

[2016-03-22 17:01] kentcdodds opened #76 "JavaScript Frameworks: Ember"
Let's get Ember in on this JavaScript Frameworks thing.

Planning on having the show on the 27th of April at [12:00 CDT](http://www.thetimezoneconverter.com/).

@wycats and @tomdale are still both invited to this show. @mixonic has agreed to come on and I'm waiting on one or two more people to let me know.

I'll update ya'll on this issue when I have more info. Let me know if you have any question

[2016-03-23 20:46] yyx990803 commented on #75
@taylorotwell (author of Laravel) will be joining us on the show - bringing some perspective from "non-js-people" ;)

[2016-03-23 20:46] kentcdodds commented on #75
That'd be fantastic. I'll get @taylorotwell added to the site. Thanks!

[2016-03-24 21:16] phoddie commented on #72
Here's the requested info:
   Name: Peter Hoddie
   Twitter: @phoddie (and @kinoma)
   Google+ profile: None! Please use Kinoma’s profile: https://plus.google.com/+KinomaMarvell/posts.
   Profile image: https://avatars0.githubusercontent.com/u/6856458

[2016-03-24 21:16] kentcdodds commented on #72
Thanks!

[2016-03-27 02:36] #47 closed

[2016-03-30 13:21] kentcdodds commented on #68
Turns out this isn't mobile ready :laughing: :smile:
![screenshot_20160330-071931](https://cloud.githubusercontent.com/assets/1500684/14143358/0f041246-f648-11e5-8476-195a5f1b3959.png)

[2016-03-30 21:39] kentcdodds opened #78 "Automation: Audio"
I'd love to be able to have something like this:

[code]

Where `i3ET71ZCW_E` is the ID of a YouTube video and `some/destination/file.mp3` is where I want the output file to go and all those metadata things is used for the audio file's metadata (would prefer sane defaults and maybe a config file or something). What this command would do:

1. Get the audio from the video (probably by downloading th

[2016-03-30 23:26] kentcdodds opened #79 "Progressive Web Apps"
**Title:** Progressive Web Apps

**Description:** A [Progressive Web App](https://developers.google.com/web/progressive-web-apps?hl=en) "uses modern web capabilities to deliver an app-like user experience. They evolve from pages in browser tabs to immersive, top-level apps, leveraging the web's low friction." The JavaScript Air website uses some of these techniques and technologies. Let’s learn ab

[2016-03-31 00:24] HenrikJoreteg commented on #79
:wave: Most likely May 25 would be my best bet. I'm likely traveling both the other dates. My life is a bit crazy at the moment, I'm moving, doing a full time consulting gig, and having just sold my house will be homeless during this period :)

[2016-03-31 00:31] nolanlawson commented on #79
May 25th works for me as well! Happy to co-guest-star with @HenrikJoreteg and anybody else who's interested. :)

[2016-03-31 00:32] jennwrites commented on #79
:eyes: omg yasssssssss

[2016-03-31 15:05] kentcdodds commented on #79
I'd also like to invite @AdaRoseEdwards to join us for the show! Please see the original comment and let me know if you're interested and if May 25th works for you as well :-)

[2016-03-31 15:10] kentcdodds opened #80 "Automation: adding guests to shows"
I'd like to be able to do:

[code]

Where `mzabriskie` is the guest's twitter handle and `2016-03-30` is the episode the guest will be on. Here's basically what it should do:

1. Fetch the guest's twitter avatar and use [`./other/compress-image`](https://github.com/javascriptair/site/blob/7086631744bfc7bcc386a7e1a6d1f12a8565c1ae/other/compress-image.js) to fix it up for the show (correct size, for

[2016-03-31 16:10] jakearchibald commented on #79
2016-06-01 is the only one of the three I can do, but I'm happy to skip it as everything is covered with the other guests

[2016-03-31 16:15] kentcdodds commented on #79
@jakearchibald, sorry that you can't make it on the 25th. I want to make sure that we cover our bases on the perspectives we have on the show, so let's see what others say.

I'd also like to invite @wanderview from Mozilla and @addyosmani from Google to get those perspectives. I did talk with @slightlyoff at Fluent conf and he sounded less enthusiastic about showing up :-) Though you're definitely

[2016-03-31 16:27] AdaRoseCannon commented on #79
Yeah, i'd love to do it! May 25th should be fine.

[2016-03-31 16:59] sduquej commented on #78
This seems like a good existing option (it's written in Python): https://github.com/rg3/youtube-dl

[2016-03-31 17:17] kentcdodds commented on #78
Thanks for the suggestion @sduquej! What do you think about [this one](https://libraries.io/npm/youtube-mp3-downloader) written in JavaScript?

[2016-03-31 17:32] kentcdodds commented on #78
This is actually looking awesome. I've got a PR I'm preparing with most of the requirements. Will reference it here in a moment. Thanks @sduquej!

[2016-03-31 17:36] kentcdodds commented on #78
Here's the first version: https://github.com/javascriptair/site/pull/81

[2016-03-31 22:10] kentcdodds opened #82 "webpack"
**Title:** webpack: JavaScript bundler

**Description:** webpack is an amazing bundler for frontend assets. For many people it has completely changed the game for their build pipeline, entirely replacing other build tools and task runners like grunt and gulp. Join us as we talk with the webpack team about this impressive piece of tech.

**Potential guest(s):** @sokra, @jhnns, @bebraw

If you haven

[2016-03-31 22:55] #78 closed

[2016-03-31 22:55] kentcdodds commented on #78
`npm run podcastify` :D

[2016-04-01 01:14] kentcdodds commented on #64
This one's done.

[2016-04-01 01:14] #64 closed

[2016-04-01 04:18] bebraw commented on #82
Works for me.

[2016-04-01 04:31] kentcdodds commented on #82
Great @bebraw! How about you @sokra and @jhnns? Would love to have all three of you on the show! Let me know how these dates work for you:
- 2016-05-18
- 2016-06-01
- 2016-06-08

[2016-04-01 12:47] jhnns commented on #82
Cool! :tada:

All dates work for me, with a small preference for the two latter ones. The only problem is that I have to get up that early (it's even worse for you @bebraw) :grin:

[2016-04-01 12:59] bebraw commented on #82
@jhnns 12:00 Central Time should be 20:00 EEST. Even 00:00 wouldn't be too bad at 08:00. Did you mean the latter?

[2016-04-01 13:04] jhnns commented on #82
Haha, yeah, I've entered 12.00 AM and didn't think a lot. 7:00 PM is ok, I'll probably be awake then :wink:

[2016-04-01 15:34] kentcdodds commented on #82
Really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information (if you’d prefer, y

[2016-04-01 16:20] jhnns commented on #82
- Johannes Ewald
- johannes.ewald@peerigon.com
- [jhnnns](https://twitter.com/jhnnns) (it's three ns, because jhnns was already taken)
- Please use my Github profile picture

[2016-04-01 16:24] bebraw commented on #82
- Juho Vepsäläinen
- bebraw@gmail.com
- [bebraw](twitter.com/bebraw)
- Twitter/GitHub profile picture would work

[2016-04-01 16:27] kentcdodds commented on #82
Awesome, thanks guys. I'll wait to hear from @sokra whether he's interested and what dates work before actually scheduling. Looking forward to it!

[2016-04-01 22:57] leebyron commented on #21
Hey @kentcdodds - bad news, I spoke too soon with the 13th. That's actually the [f8](https://www.fbf8.com/) conference which I'm a presenter for.

I see 5-18 is the next open slot in your schedule. I'm free then if that's a reasonable new time.

[2016-04-01 23:13] kentcdodds commented on #21
Hey Lee! Bummer! We can definitely reschedule. Could you bug @schrockn to let me know if 5-18 works for him? Thanks!

[2016-04-01 23:20] kentcdodds commented on #76
Hey @mixonic, I had a show fall through for the 13th of April. Is there any chance you could join us on that day instead?

[2016-04-02 01:30] kentcdodds commented on #34
Gonna go ahead and close this. We'll track all the other improvements individually.

[2016-04-02 01:30] #34 closed

[2016-04-02 01:31] kentcdodds commented on #24
I think that we'll probably want to have a bit of a refactor on stuff, but I think things are good for now 👍

[2016-04-02 01:31] #24 closed

[2016-04-02 01:47] kentcdodds commented on #80
This might be helpful to get things started... https://github.com/remy/twitter_avatars/blob/master/avatars.js

Looking at it I think we'll probably just use this as a reference, I think the project is very specific to the use-case it was created for.

[2016-04-03 07:15] sokra commented on #82
All dates work for me.
- Tobias Koppers
- tobias.koppers@googlemail.com
- no twitter sorry
- GitHub profile picture

[2016-04-03 13:54] kentcdodds commented on #82
Awesome!

So our guests for the show on the 13th of April had to cancel. Would you all be available on that day? Otherwise we can do the 1st of June.

[2016-04-03 14:26] jhnns commented on #82
That would work for me too (with a small uncertainty because I'm on a train 2 hours before the show).

[2016-04-03 14:28] bebraw commented on #82
If 13th of April works for Tobias, I'm in. I have an appointment there, but I can flex a bit.

[2016-04-04 07:37] sokra commented on #82
Sorry 13th doesn't work for me...

[2016-04-04 13:20] kentcdodds commented on #82
OK cool. June 1st it is then. Looking forward to it!

[2016-04-04 14:12] jhnns commented on #82
Yay :tada:

[2016-04-04 16:01] kentcdodds opened #84 "Reactive Programming in JavaScript"
**Title:** Reactive Programming in JavaScript

**Description:** Object oriented programming, functional programming, reactive programming, reactive functional programming. There are so many different ways to think about the system you're building and different design patterns to follow. Join us as we talk about reactive programming in JavaScript.

**Potential guest(s):** @staltz, @blesh, @mattpodw

[2016-04-04 16:09] staltz commented on #84
2016-04-13 works for me

- Andre Staltz
- andre`[dot]`staltz`[at]`gmail`[dot]`com
- `@andrestaltz`

![andre-budapest-square](https://cloud.githubusercontent.com/assets/90512/14254505/af0b2096-fa98-11e5-96ac-dc10fe85c326.jpg)

[2016-04-04 17:53] benlesh commented on #84
April 13th works for me.

Ben Lesh
`ben[at]benlesh[dot]com`
`@benlesh`

image:
![http://i.imgur.com/jfv9elj.png](http://i.imgur.com/jfv9elj.png)

[2016-04-04 18:31] kentcdodds commented on #84
Just pushed an update to the website with this info. @mattpodwysocki is still totally invited to join. Is there anyone else that we should have on the show? May be good to have someone who's not all in on RxJS :-)

[2016-04-05 07:18] staltz commented on #84
Like JLongster :D

[2016-04-05 15:18] mattpodwysocki commented on #84
@kentcdodds sorry, I've been on travel

[2016-04-05 15:20] mattpodwysocki commented on #84
April 13th it is.

Matthew Podwysocki
`matthewp`[at]`microsoft`[dot]`com`
`@mattpodwysocki`

<img src="https://pbs.twimg.com/profile_images/506580998222381057/axNYv-3_.jpeg">

[2016-04-05 21:26] kentcdodds opened #85 "Add links, tips, and picks page"
Would be great to have a single place to go to find all the links, tips, and picks (like [these](https://github.com/javascriptair/site/blob/4102ad8adbff2757f5a8724bbc0ee6c26e8deb53/episodes/2016-03-30/index.js#L7-L20) which is rendered [here](https://javascriptair.com/episodes/2016-03-30/#show-notes) via [this component](https://github.com/javascriptair/site/blob/4102ad8adbff2757f5a8724bbc0ee6c26e

[2016-04-06 19:26] kentcdodds commented on #79
Really looking forward to this show! Still waiting to hear back from some of you. While we wait, I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episod

[2016-04-07 16:38] kentcdodds commented on #76
We're going to stick with the 27th of April :+1:

Really looking forward to this show! I need a few things from all guests to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s iss

[2016-04-07 16:54] kentcdodds commented on #76
@mixonic, don't worry about providing your info, I've already got you on the site :-)

[2016-04-07 19:21] GavinJoyce commented on #76
@kentcdodds as I mentioned [on twitter](https://twitter.com/gavinjoyce/status/718144963431829504), I'd be happy to chat if you're interested in hearing how Ember.js has contributed to our success and rapid growth at Intercom over the past 30 months.

[2016-04-07 19:22] kentcdodds commented on #76
Awesome! Feel free to leave your info as instructed above @GavinJoyce :-) Thanks!

[2016-04-07 19:32] GavinJoyce commented on #76
Email sent, thanks

[2016-04-08 21:00] mixonic commented on #76
Thanks @kentcdodds, looking forward to it :heart_eyes: :heart_eyes:

[2016-04-11 00:02] #75 closed

[2016-04-14 04:32] HenrikJoreteg commented on #79
Henrik Joreteg
hjoreteg@gmail.com
@HenrikJoreteg
pics and such: http://bio.joreteg.com/

[2016-04-14 14:15] AdaRoseCannon commented on #79
Ada Rose Edwards
ada.edwards@ft.com
@lady_ada_king
![image](https://cloud.githubusercontent.com/assets/4225330/14531076/b0535886-0210-11e6-8330-900f9e8256ae.png)

[2016-04-14 14:55] #80 closed

[2016-04-19 23:20] andycarle commented on #72
Hi folks, I'm tagging in for Peter Hoddie tomorrow. Here's my info:

Name: Andy Carle
Twitter: @PrototypingAndy and @kinoma
Google+: Nope! But Kinoma does have one: https://plus.google.com/+KinomaMarvell
Profile image: https://avatars1.githubusercontent.com/u/1427817?v=3&s=460

[2016-04-20 00:25] kentcdodds commented on #72
Thanks for stepping in @andycarle. Looking forward to hearing your perspective. The site's been updated. See ya'll tomorrow!

[2016-04-20 01:03] kentcdodds opened #88 "Add "tweet" link to episodes page"
I'd like to enable/encourage people to share the episode. I'd love to have a link toward the top of the episode page that's something like "tweet this" and it'll tweet something like:

Upcoming episode

Past episode:

1. `randomAwesomeEmoji` could probably use something like [this](https://github.com/javascriptair/site/blob/087dd456c209ad39748185855fd03a659c6c19f2/other/get-up-tweet.js#L55-L66)
2.

[2016-04-20 01:15] daltonamitchell commented on #88
If nobody gets to this by tomorrow, I'd be happy to help!

[2016-04-20 01:16] sarbbottam commented on #88
You are faster by 16 seconds 😄

[2016-04-20 01:21] daltonamitchell commented on #88
No worries @sarbbottam if you want to take this. I know I won't get to it until the AM. But if it's still open tomorrow I'm happy to lend a hand :)

[2016-04-20 01:24] sarbbottam commented on #88
All yours, I wont be able to get on this before weekend.

[2016-04-22 22:21] #88 closed

[2016-04-23 00:37] wanderview commented on #79
I can't claim to be entertaining or knowledgeable, but I'd be happy to attend if its not too late.  Please feel free to use my info from twitter for now.  If I get a better picture I will send it along.  Thanks!

[2016-04-23 00:38] kentcdodds commented on #79
Fantastic! Looking forward to having you on the show!

[2016-04-25 01:57] rajasekarm commented on #23
@kentcdodds  do we have an account on discus, I can make it on the site.

[2016-04-25 02:07] kentcdodds commented on #23
Feel free to do everything but leave the disqus  ID blank and I'll fill it in when I merge. Sound good? Thanks!

[2016-04-27 11:42] rwjblue commented on #76
Just sent email, hoping to join in also (if it isn't too late)...

[2016-04-27 16:48] kentcdodds commented on #42
Hello @samccone, @juleskremer, @ocombe, @alyssamichelle, @Yonet, @teropa, @Hendrixer, @johnpapa, and @Brocco! You've been invited to join us **live** _and_ **on site** for the JavaScript Air ng-conf show!

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. This particular show will be **live** _and_ **on site** at ng-conf.

[2016-04-27 16:49] samccone commented on #42
:tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine:
:tangerine: samuel john saccone
:tangerine: samccone <at> googlemail :diamond_shape_with_a_dot_inside:
:tangerine: @samccone
:tangerine:
:tangerine: THANK YOU KENT :space_invader:
:tangerine:
:tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tangerine: :tan

[2016-04-27 16:58] teropa commented on #42
Tero Parviainen
tero@teropa.info
teropa

[2016-04-27 17:09] Brocco commented on #42
Mike Brocchi
mbrocchi@gmail.com
@brocco

[2016-04-27 17:22] juleskremer commented on #42
Jules Kremer
juleskremer@gmail.com
@jules_kremer

On Wed, Apr 27, 2016 at 10:09 AM, Mike Brocchi notifications@github.com
wrote:

[2016-04-27 17:44] johnpapa commented on #42
John@johnpapa.net@John_PapaJohn Papa

[code]

From: Kent C. Dodds notifications@github.com
Sent: Wednesday, April 27, 2016 12:49 PM
Subject: Re: [javascriptair/site] live @ ng-conf (#42)
To: javascriptair/site site@noreply.github.com
Cc: John Papa john@johnpapa.net, Mention mention@noreply.github.com

Hello @samccone, @juleskremer, @ocombe, @alyssamichelle, @Yonet, @teropa, @Hendrixer, @johnpapa,

[2016-04-27 18:33] Yonet commented on #42
Aysegul Yonet
aysegulyonet@gmail.com
@AysegulYonet

On Wed, Apr 27, 2016 at 10:44 AM, John Papa notifications@github.com
wrote:

##

Ayşegül

linkedIn/aysegulyonet http://www.linkedin.com/in/aysegulyonet/

   -

[2016-04-27 18:41] alyssamichelle commented on #42
❤️
Alyssa Nicoll
mail@alyssanicoll.com
@AlyssaNicoll
❤️

[2016-04-27 20:02] kentcdodds commented on #42
I should mention a few things:
1. The show starts at 2:00 (local time)
2. I'll put together a schedule before the show for ya'll and send that out in a Google Doc.
3. You'll be expected to show up 5 minutes before your start time and someone will tell you when to come on.
4. You'll get more info about exactly where this will be as I find out myself :-)

Thanks! Please let me know if you have any q

[2016-04-28 03:54] joeeames commented on #42
It's in the Embassy room, which is on the 3rd floor, right next to the hack room

[2016-04-28 16:10] kentcdodds commented on #42
Just realized that the fair day is on Thursday (correct @joeeames?). I'll be updating the website (I thought it was on Wednesday). Let me know if this is an issue for anyone.

[2016-04-28 16:14] joeeames commented on #42
yes, Thursday. Sorry I didn't double check the day you had noted.

[2016-04-28 16:37] kentcdodds opened #91 "Fix calendar icon styling"
Anyone wanna investigate what's going on in Chrome for this? On hover over the calendar date, this is what I see (Chrome is wrong).

Chrome:

<img width="217" alt="chrome" src="https://cloud.githubusercontent.com/assets/1500684/14893469/c9d9a9c8-0d2c-11e6-8780-e020292357a7.png">

Firefox:

<img width="228" alt="firefox" src="https://cloud.githubusercontent.com/assets/1500684/14893473/cd797acc-0d2c

[2016-04-28 17:23] panzerdp commented on #91
Hello @kentcdodds

I installed the site and made a build. However the calendar is displayed well for me (Chromium 49, Ubuntu).
Could it be a cache issue or some Chrome extension is breaking things? (Take a try in incognito).

![selection_002](https://cloud.githubusercontent.com/assets/1078719/14894982/115aa69c-0d7f-11e6-849f-aad2a7bbf06d.png)

Thanks.

[2016-04-28 17:36] kentcdodds commented on #91
Hi @panzerdp! Thanks for giving it a look!

Could be a Mac only issue then. Also, the icon is really small because I mistakenly pushed some bad css :-)

Thanks for giving it a look. Maybe someone with a Windows could let us know if it's a problem on Windows or not.

[2016-04-28 17:57] #91 closed

[2016-04-29 17:14] #49 closed

[2016-04-29 17:14] #72 closed

[2016-04-29 17:14] #76 closed

[2016-04-29 17:14] #84 closed

[2016-05-02 19:43] Hendrixer commented on #42
Scott Moss
willscottmoss@gmail.com
scotups

[2016-05-06 15:02] omoju opened #95 "Suggest changing the heading to "The Science of Learning Technical Content""
While I love the writeup you've put on the site, I would rather we focus on the "science", what we know about how people learn, and what implications that has on technical communities. Perhaps the heading could be "**The Science of Learning Technical Content**"

Even though we are going to speak about inclusion, we don't need to lead with it. This way we will get a broader spectrum of people willi

[2016-05-06 15:27] kentcdodds commented on #95
Hi @omoju,
Thank you for the suggestion. I agree that "diversity" and "inclusion" have (unfortunately) become pretty polarizing terms (as you've told me previously) and it'd be great to encourage more people to join with open minds by not focusing on those terms but instead focus on the science/research/data aspect of things. So I like the science bit.

I'm not certain that "Learning Technical Con

[2016-05-06 15:40] omoju commented on #95
The **science of people in tech** sounds lovely. Lets go with that.

Btw, @kentcdodds am going to steal that moving forward and attribute it to you.

[2016-05-06 15:48] #95 closed

[2016-05-06 16:33] alexbooker opened #96 "Randomize Guests and Contributors Order?"
Hi :wave:

[Product Hunt](https://www.producthunt.com/) randomize the order of their team members on the [about page](https://www.producthunt.com/about) (reload the page and you'll see).

If I remember correctly the idea was to show that all teammates are equal.

:white_check_mark: I think something similar would be nice for the [guests](https://javascriptair.com/guests/) and [contributors](https:

[2016-05-06 16:42] alexbooker opened #97 "`npm start validate` Emits a Bunch of Errors"
Hm... :confused:

I'm trying to follow the [setup instructions found in CONTRIBUTING.md](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md).

I cloned the repository and ran `npm install` then `npm start validate`. `npm install` works but `npm start validate` emits a bunch of errors:

[code]

[2016-05-06 16:52] kentcdodds commented on #96
Thanks for the suggestion @alexbooker! I think I'd be good with this. Right now most people on the site are sorted by twitter handle (or name if there is none) ([like so](https://github.com/javascriptair/site/blob/c74e061e817d3140e52c49079a6c6bb2728172d6/src/utils/utils.js#L87-L93)).

As this is generated at build-time, it would only be randomized every time the build happens, not on page refresh

[2016-05-06 16:53] kentcdodds commented on #97
Sorry, I need to update the `CONTRIBUTING.md` to indicate that the project now requires Node 6. I did this because it speeds up build times because we need to transpile much less.

[2016-05-06 16:57] #97 closed

[2016-05-11 17:08] comfroels opened #98 "Window script error running npm start validate"
Running `npm start validate` after an `npm install` on windows gives me the following error:

Script: C:[path_to_code]\package-scripts.js
Line: 2
Char: 1
Error: Syntax error
Code: 800A03EA
Source: Microsoft JScript compilation error

This is on Node v 6.1.0
and NPM v 3.8.6

Which the error is just on the keyword `const` so, not knowing about es6, possibly? But I verified I'm running Node 6

[2016-05-11 17:23] comfroels commented on #98
Npm-debug.log

[code]

[2016-05-11 18:48] comfroels commented on #98
The error comes in a pop up and is delivered by Windows Script Host, if that helps

[2016-05-11 19:05] comfroels commented on #98
So read some things about Windows Script host, and tried to change all .js extensions to default to Node. The pop up doesn't appear anymore, but it doesn't appear to actually do anything. Just logs out what I'm running and pops me back to the cli

[2016-05-11 19:09] kentcdodds commented on #98
Ah, so you're using WSH rather than the command line? Yeah, I'm not sure what to tell you other than try to use the command line. Bash is preferable, but it should work in a normal windows command prompt as well.

[2016-05-11 19:13] comfroels commented on #98
I'm running it through the command line, I'm just getting a popup from the WSH. I'll try it from a git bash prompt though... and see if that helps

[2016-05-11 19:19] kentcdodds commented on #98
I'm not familiar with windows development, but I believe there have been contributions from some other windows users. If you find what's wrong, I'd really appreciate a PR to fix it. Thanks!

[2016-05-11 20:03] comfroels commented on #98
I'll try this out on a different Windows machine later tonight... if that doesn't work: I will boot up my linux box. Thanks for the help @kentcdodds

[2016-05-12 14:58] comfroels commented on #98
Okay, so I went home to my other computer, and still got the same error. However, I figured out how to get windows to execute the `package-scripts` though... by adding `.cmd` to the end of `package-scripts`. Don't know how we can change it so that it works xplat, ideas anyone?

[2016-05-12 15:04] kentcdodds commented on #98
Do you mean you change `package-scripts.js` to `package-scripts.js.cmd`? Or do you change the `"start": "package-scripts"` in the `package.json` to be `"start": "package-scripts.cmd"`?

What if we did: `"start": "node package-scripts"`? Would that work?

I'd prefer to update [p-s](https://github.com/kentcdodds/p-s) to work with windows out of the box, so if there's anything we can do to make that

[2016-05-12 15:42] comfroels commented on #98
Hmm. Alright.
Yeah I mean in the `"start": "package-scripts"` in the `package.json`. Changing to `"start": "package-scripts.cmd"` works. Yeah I tried the `"start": "node package-scripts"` and that seems to start running but it doesn't actually execute anything (it prevents the error but doesn't actually build)

[2016-05-12 15:50] kentcdodds commented on #98
This is really odd... Do you mind reaching out to our overlords at Stack Overflow and seeing if there's a solution to this problem?

[2016-05-12 15:55] comfroels commented on #98
Contacting the overlords....
:crown:

[2016-05-12 16:06] KrisSiegel commented on #98
If you want something that runs universally on Windows and nix you should execute the JavaScript file as `"start": "node package-scripts.js"`

If you simply do `"start": "package-scripts"` then it is run as it `package-scripts` is an executable which in this case it is not (granted you can set defaults on your system to have node handle JavaScript but that required setup external to your project).

[2016-05-12 16:13] kentcdodds commented on #98
Interesting! Thanks @KrisSiegel! Could you give that a try @comfroels?

Do you know how packages like `gulp` or `webpack` accomplish this? I've never had someone from windows say that I need to change my scripts to be `node gulp.js` or `node webpack.js`...

[2016-05-12 16:18] comfroels commented on #98
After doing the change from @KrisSiegel it gives me this output,

[code]

and throws me back to the prompt, doesn't seem to actually execute anything.
@kentcdodds `package-scripts` is meant to be executed at that point right? pretty much as an executable? I feel like that's why the `package-scripts.cmd` works.. (However it ends up erroring out on the `npm start validate` saying that `'.' is not a

[2016-05-12 16:24] kentcdodds commented on #98
Oooooh! Now _that_ is interesting... Maybe a problem with [the `validate` script](https://github.com/javascriptair/site/blob/d99f5d51ed0eb9e19888fc1bf22c81775cf105a5/package-scripts.js#L76) which simply runs [the `build` script](https://github.com/javascriptair/site/blob/d99f5d51ed0eb9e19888fc1bf22c81775cf105a5/package-scripts.js#L10) which runs a bunch of scripts in parallel (using `p-s` which is

[2016-05-12 16:24] comfroels commented on #98
Link to the stack overflow http://stackoverflow.com/questions/37192508/trying-to-execute-a-script-from-package-json-on-windows-throws-a-jscript-error

[2016-05-12 16:25] kentcdodds commented on #98
To be clear, does the `npm start server` work when `"start": "package-scripts"` or does it only work when you have `"start": "package-scripts.cmd"`?

[2016-05-12 16:25] comfroels commented on #98
Only works with `"start": "package-scripts.cmd"`

[2016-05-12 16:27] kentcdodds commented on #98
Huh :-(

Do you mind adding a link to this issue in your stackoverflow question?

[2016-05-12 16:28] comfroels commented on #98
No problem

[2016-05-12 16:35] KrisSiegel commented on #98
Oh I didn't realize how package-scripts works. That's honestly a little weird because it has to work with a binary alias. Typically similar things (like grunt, gult, etc) require you to either install globally or reference it inline in the package.json start script (just like I do with [msngr.js](https://github.com/KrisSiegel/msngr.js/blob/master/package.json)).

Perhaps explicitly referencing the

[2016-05-12 16:39] kentcdodds commented on #98
Thanks for the feedback @KrisSiegel.

This shouldn't be necessary. By default, [npm scripts](https://docs.npmjs.com/cli/run-script) include `node_modules/.bin/` in the `PATH` when running the scripts which is the recommended way to execute binaries.

I'll keep looking. Thanks.

[2016-05-12 16:56] KrisSiegel commented on #98
Yeah not sure if that is any different with npm 3 but I never had luck with it in npm 2 on multiple platforms (always ran into weird issues) so I've never used it that way. Maybe it's better now. Btw might be worth testing in PowerShell when you're in Windows instead of only command (or vice versa).

[2016-05-12 17:00] comfroels commented on #98
Powershell has the same results

[2016-05-12 17:02] comfroels commented on #98
I'd be interested to see if anyone on Windows using p-s is having the same issue...

[2016-05-12 17:56] mikekidder commented on #98
@comfroels I gave it a quick spin.  Looks like Node behavior change with v6.1.   I could run the "npm run start validate" in Powershell windows under Node 5.7...  but obviously failed with the ES6 code.   With Node 6.1, its attempting to load the package-scripts JS file into VS on me.  Dont have time for much more testing at moment

NOTE:  same thing on "npm run start"  -- dont get the help output

[2016-05-12 18:01] kentcdodds commented on #98
Hmmm... Interesting. `6.1` works for me. Just another Windows thing I guess :-( Thanks for looking at it @mikekidder!

[2016-05-12 18:06] mikekidder commented on #98
Yep, definately a Windows nuisance...  same thing for me..  if I add ".cmd" to script, works under Windows. Definately node, my npm version is 3.8.7 for both tests.

[2016-05-12 18:49] comfroels commented on #98
Thanks a lot for looking at it @mikekidder! Should I file an issue with Node? Is it an official "issue" or just how `p-s` is trying to use node?

[2016-05-12 19:05] kentcdodds commented on #98
That's my guess. But I'm still not sure what it's doing wrong...

[2016-05-13 07:12] MacKentoch commented on #98
I won't pretend bringing a solution (not even sure it is related) but when I have to work on windows (at office)
- I use `babel-node` to launch my NodeJs in ES6 and don't have any problem.
- but I only have NodeJS v4.2.x (_no  NVM nor node 6.x -> since already enough complicated in office environments to install / use node js_)

[2016-05-13 13:25] kentcdodds commented on #98
Thanks. The scripts in question are already using `babel-node` but it's transpiling down to node6 (which means it's basically only supporting models and stage-2 features.

[2016-05-17 15:24] kentcdodds commented on #21
Hey @leebyron and @schrockn! Looking forward to tomorrow's show! You should have received an email inviting you to [the show notes Google Doc](https://docs.google.com/document/d/1A-RLPJD7eGgfIU3LkVAKkeeHv2WPUCYnvqgsUB8Srzo/edit). Please take a quick look at it and let me know if you have any questions!

[2016-05-18 16:09] kentcdodds commented on #82
Would ya'll be interested in having @thelarkinn join the show as well? I think it's good to have more perspectives on the show and I believe you all know him already :-) Thoughts?

[2016-05-18 16:32] bebraw commented on #82
Sure. 👍

[2016-05-18 16:35] sokra commented on #82
:+1:

[2016-05-20 19:14] #42 closed

[2016-05-25 02:01] kentcdodds commented on #82
Hey all! I have to really apologize for this, but is there any chance we could push this show out a week? That would put the show at [12:00 PM CDT](http://www.thetimezoneconverter.com/) on June 8th. Please let me know one way or another as soon as you're able. Thank you! And sorry!

[2016-05-25 02:02] TheLarkInn commented on #82
I'm fine either way.

[2016-05-25 05:26] bebraw commented on #82
Works for me.

[2016-05-25 07:21] sokra commented on #82
yep

[2016-05-25 07:59] jhnns commented on #82
Works for me too, no problem :)

[2016-05-25 14:15] kentcdodds commented on #82
Alrighty, everything's been moved the the 8th. Thanks for working with me on this :) I didn't want to miss this show.

[2016-05-30 19:23] timarney opened #99 "npm start validate - errors"
Im getting the following error(s) when running npm start validate

node v5.5.0
npm  v3.9.3

[code]

[2016-05-30 19:24] timarney commented on #99
Found - https://github.com/javascriptair/site/issues/97

[2016-05-30 19:24] #99 closed

[2016-05-30 23:54] timarney commented on #85
I'll take this on, assuming it's still of interest.

[2016-05-30 23:58] kentcdodds commented on #85
Yes! Definitely still interested. Thank you :-)

[2016-05-31 12:37] timarney commented on #85
For output I'm thinking of

[code]

Or did you have another output in mind?

The page will get long over time but, good for a starter page.

Also should I put a link in the footer i.e. All Links, Tips, and Picks?

[2016-06-06 19:05] #21 closed

[2016-06-06 19:05] #74 closed

[2016-06-06 19:05] #79 closed

[2016-06-06 23:26] kentcdodds opened #106 "Web Animations"
**Title:** Web Animations

**Description:** It's totally mind blowing what can be done to enhance the user's experience with animations on the web these days. Let's talk about how some of this is done and what tools are out there to help you with this.

**Potential guest(s):** @matsko

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all abou

[2016-06-06 23:27] kentcdodds commented on #106
@matsko, if you have other ideas of guests to add to the show, that'd be great :-)

[2016-06-07 14:22] #85 closed

[2016-06-07 17:10] kentcdodds opened #108 "Automated Accessibility Testing with aXe-core"
**Title:** Automated Accessibility Testing with aXe-core

**Description:** The Deque Labs team is doing some really cool stuff for automated accessibility testing, bringing their years of accessibility expertise to mainstream web developers. The open source axe-core framework, written entirely in JavaScript, supports a bunch of integrations: Webdriver JS, Grunt and Gulp plugins, Chrome and Firefox

[2016-06-07 17:12] kentcdodds opened #109 "For the Beginners"
**Title:** For the Beginners

**Description:** We're going to talk about when we were beginners, some of the things we wished we knew, some of our biggest early days goofs, our suggestions for newbies, etc. We'll also talk about making the community open to newbies/what can be done to increase this.

**Potential guest(s):** Open to suggestions!

If you haven't heard of [JavaScript Air](http://java

[2016-06-07 17:17] kentcdodds opened #110 "Routing in React"
**Title:** Routing in React

**Description:** react-router is a popular library for adding routing to your React apps. We'll look at what it means to add routing to an app and why you would want to do that. We'll also talk about some of the future of react-router and how we're looking to grow the library.

**Potential guest(s):** @timdorr, @ryanflorence, @mjackson, @taion

If you haven't heard of

[2016-06-07 17:20] kentcdodds opened #111 "Getting started with web audio"
**Title:** Getting started with web audio

**Description:** Web audio opens the door for rich multimedia, audio and gaming applications. It remains an unknown topic for many. Let's get an overview at audio programming with JavaScript and an introduction to some tools and frameworks that can make your life easier doing this.

**Potential guest(s):** @chrislo, @alemangui, @titusblair, @tencircles

I

[2016-06-07 17:25] kentcdodds opened #112 "Electron apps"
**Title:** Electron apps

**Description:** Electron is becoming more and more of a relevant and popular way of building multi-platform desktop apps with web technologies. Let's get a dive into this awesome tech and see how we can use it to enhance our own experience and our user's experience on the desktop.

**Potential guest(s):** @emorikawa (anyone else you'd recommend)?

If you haven't heard of

[2016-06-07 17:26] timdorr commented on #110
Sorry, the earliest available date for me is 2021, so you'll have to expand the schedule.

But seriously, I should be fine for most of the upcoming slots. I've got a kid on the way late next month, so if it gets pushed back that far for some reason, that might be the only conflict I have.

You can share things with timdorr@timdorr.com. I'm @timdorr on Twitter. And I'll give you one guess as to my

[2016-06-07 17:29] kentcdodds opened #113 "Publishing JavaScript Packages"
**Title:** Publishing JavaScript Packages

**Description:** How to automate the workflow of git tags, changelog, npm publish and how the developing/publishing workflow could be improved.

**Potential guest(s):** @substack, @sindresorhus, @jdalton, @boennemann

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen

[2016-06-07 17:34] kentcdodds commented on #41
I think we're good with what we have now.

[2016-06-07 17:34] #41 closed

[2016-06-07 17:35] #11 closed

[2016-06-07 17:35] kentcdodds commented on #20
We're having a webpack show this week, so I'm going to go ahead and close this issue in favor of that show.

[2016-06-07 17:35] #20 closed

[2016-06-07 17:36] jdalton commented on #113
Count me in 💯

[2016-06-07 20:11] kentcdodds opened #114 "Typed FP in JS"
**Title:** Typed Functional Programming in JavaScript

**Description:** "Tie your hands to free your mind" is a mantra you hear that applies really well to the constraints that you put on yourself by embracing statically typed languages and functional programming. We're going to hear from various people about their respective visions of typed FP in JS.

**Potential guest(s):** @paf31, @evancz, @jo

[2016-06-07 20:34] alfonsogarciacaro commented on #114
This is a fantastic idea and I'll love to join! Please find my info below. Do you also need a bio?
- Name: Alfonso García-Caro
- Mail: alfonso.garcia-caro (at) hotmail.com (yeah, still using hotmail, too lazy to change it)
- Twitter: @alfonsogcnunez
- Project: [Fable](http://fsprojects.github.io/Fable/), F# to JS compiler

Next Wednesday (June 15th) I'll be out of town so I'm not sure about the in

[2016-06-07 20:37] kentcdodds commented on #114
Nope, this will work for me. Thanks!

[2016-06-07 21:21] chrislo commented on #111
I'd be interested to take part, I think the broadcast happens at a good time for me (London, UK)!

Name: Chris Lowis
Twitter: @chrislowis

[2016-06-07 21:24] chrislo commented on #111
I think the first two available dates I can make are:
- 2016-07-20
- 2016-07-27

[2016-06-08 02:35] dylanb commented on #108
I would definitely like to participate:

name: Dylan Barrell
email: dylan@barrell.com
twitter: @dylanbarrell

[2016-06-08 02:36] kentcdodds commented on #108
@dylanb could you give me two or three days that work for you from [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md)?

[2016-06-08 03:35] alemangui commented on #111
Also interested in participating :)

Name: Alejandro Mantecon Guillen
Twitter: @alemangui

Any date in July works for me

[2016-06-08 08:52] tencircles commented on #111
I'm interested, free in July.

Name: Chris Coniglio
Twitter: @tencircles
Email: chris@dinahmoe.com

[2016-06-08 11:16] boennemann commented on #113
Hey @kentcdodds,

thanks for the invitation. Would love to join.
I'm on vacation next week, but the other open dates seem fine.
- Stephan Bönnemann
- stephan.boennemann at gmail.com
- @boennemann

Good luck with today's show!

[2016-06-08 14:12] dylanb commented on #108
@kentcdodds 7/13 and 7/27

[2016-06-08 15:00] marcysutton commented on #108
Yay! Those dates work for me too!

I will email you my info.

[2016-06-08 15:16] kentcdodds commented on #110
Do ya'll think that next week would work? ping @ryanflorence, @mjackson, @taion

[2016-06-08 15:17] kentcdodds commented on #108
ping @wilcofiers, would you be interested in joining? If so, do 7/13 or 7/27 work for you?

[2016-06-08 15:18] taion commented on #110
I have a big work deadline coming up the week of the 20th. Next week would be really difficult for me.

[2016-06-08 15:33] kentcdodds commented on #110
Ok, that's fine. How do the other dates look for you all?

[2016-06-08 15:54] timdorr commented on #110
I'm good up until the 20th of next month. If you need something to fill next week's slot, I can help with #109 too.

[2016-06-08 15:55] taion commented on #110
I'm good with further dates as well.

[2016-06-08 16:30] marcysutton commented on #108
Wilco said he could make 7/13 but not 7/27!

[2016-06-08 16:38] kentcdodds commented on #108
Awesome! The 13th it is then!

[2016-06-08 16:39] kentcdodds commented on #108
Really looking forward to this show! I need a few things from you all to get things set up for the show. I got this from @dylanb already. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the followin

[2016-06-08 19:39] kentcdodds commented on #112
Going to ping the top 4 committers to the Electron project here. Would ya'll be interested in coming on to talk about Electron on [JavaScript Air](https://javascriptair.com)? See [above](https://github.com/javascriptair/site/issues/112#issue-158979089) for more info :-)

@zcbenz, @kevinsawicki, @deepak1556, @preco21

[2016-06-08 19:53] kevinsawicki commented on #112
Thanks for reaching out, but being on a podcast sounds terrifying 😰

[2016-06-08 20:28] pselle commented on #106
I wonder if @rachelnabors might be available!

[2016-06-08 20:30] kentcdodds commented on #106
Would love to have you on the show @rachelnabors!

Also, would be awesome to have @sdras :+1:

[2016-06-08 20:30] kentcdodds commented on #106
Oh, and by the way, I spoke with @matsko offline about this, but this show is scheduled for the 29th of June at 12:00 Central.

[2016-06-08 20:32] pselle commented on #114
This sounds like maybe a @bodil topic. I, in general, would adore having @bodil on the show.

[2016-06-08 20:34] texastoland commented on #114
@rtfeldman ping @evancz?

[2016-06-08 20:41] kentcdodds commented on #112
@kevinsawicki

I understand and respect that some people are more comfortable with it than others. Hopefully it will comfort you to know that we've had [a lot of people](https://javascriptair.com/guests/) on the show and some of them are more comfortable doing this kind of thing than others. But the common thread that I've seen with everyone coming on the show is the experience is a very positive

[2016-06-08 20:42] kentcdodds commented on #114
Yes! @bodil, would you like to jump on with us? I've actually been meaning to invite you on the show for a while now anyway :D would love to have you on.

[2016-06-08 20:49] jlord commented on #112
@kentcdodds 👋 I'm on the Electron team at GitHub with @kevinsawicki and would be happy to join in his place if that works for you (he gave his blessing 😀).

[2016-06-08 20:50] ttbodil commented on #114
Not me, podcasts are really not my medium. But please make @paf31 do it. :)

[2016-06-08 20:51] bodil commented on #114
Not me, podcasts are really not my medium. But please make @paf31 do it. :)

[2016-06-08 20:54] kentcdodds commented on #114
Understood. You will be missed @bodil. Thanks anyway!

[2016-06-08 20:57] kentcdodds commented on #112
@jlord that'd be fantastic. Thank you for stepping in! Could let me know a few dates available on [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) that work for you?

[2016-06-08 21:27] nearestnabors commented on #106
Sure. Thanks for thinking of me, @pselle :)

Info:

I've been documenting the [Web Animations API on MDN](https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API) thanks to a Mozilla foundation grant and have made [many demos](http://codepen.io/collection/bpEza/) and give [this talk about it](https://vimeo.com/163510676).

I can also speak quite a bit as to how animation can be used wi

[2016-06-08 21:36] evancz commented on #114
Sounds cool, but you should have @rtfeldman on instead of me. He introduced it at NoRedInk about a year ago, and they are now the biggest user in the world as far as I know. So in addition to knowing a ton about Elm itself (like me), he probably knows more than anyone about the day-to-day usage and team dynamics of introducing a technology like this. In other words, I think he'd be a better choice

[2016-06-08 21:54] kentcdodds commented on #114
Alright, what do you think @rtfeldman?

[2016-06-08 21:58] rtfeldman commented on #114
Happy to! Sounds like a fun one. 😄
- Richard Feldman
- richard.t.feldman@gmail.com
- [@rtfeldman](https://twitter.com/rtfeldman)

[2016-06-08 22:01] kentcdodds commented on #114
@rtfeldman can you give me a few dates from [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) that work well for you at 12:00 Central Time?

[2016-06-08 22:28] rtfeldman commented on #114
@kentcdodds any from 7/20 to 8/31 (7/20, 7/27, 8/3, 8/10, 8/17, 8/24, 8/31) are fine

[2016-06-09 00:20] preco21 commented on #112
@kentcdodds Thank you for inviting me. :smile: But since I can't speak English as well, so I think I'd just better to watch the screencast. Cheers!

[2016-06-09 00:38] kentcdodds commented on #112
Understood @preco21! Thanks for your work on Electron!

[2016-06-09 08:50] WilcoFiers commented on #108
Awesome! So here's my details:
Wilco Fiers, wilco.fiers@deque.com, @wilcofiers

[2016-06-09 12:48] sdras commented on #106
Hi! Thanks for pinging me.

I'd be happy to be on as well, if Rachel's cool with that :)

[2016-06-09 16:03] emorikawa commented on #112
Yes! This sounds like an awesome idea

On Wed, Jun 8, 2016 at 17:38 Kent C. Dodds notifications@github.com wrote:

[2016-06-09 16:14] kentcdodds commented on #112
Great @emorikawa! @jlord and @emorikawa, what dates on [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) work for you? Any chance ya'll could do this next Wednesday? The show airs at 12:00 Central Time. If not, what other dates work? Also @zcbenz and @deepak1556, would you be interested in coming on as well?

[2016-06-09 16:22] emorikawa commented on #112
Wed 6/15 works for me. I'm also available. 7/6

Sent from [Nylas N1](https://link-
staging.nylas.com/link/5hz5culosbij8sy0d4j7vuf2r/local-
4fb4c686-77cd/0?redirect=https%3A%2F%2Fnylas.com%2Fn1%3Fref%3Dn1), the
extensible, open source mail client.
![](https://link-staging.nylas.com/open/5hz5culosbij8sy0d4j7vuf2r/local-
4fb4c686-77cd)

On Jun 9 2016, at 9:14 am, Kent C. Dodds &lt;notifications@githu

[2016-06-09 17:23] jlord commented on #112
📆 7/6 would be best for me.

[2016-06-09 20:20] nearestnabors commented on #106
I think Sarah is doing some great work with animation and can bring an
important perspective on the challenges of making animation a part of team
processes/design systems. Her presence can only improve the conversation :)
On Thu, Jun 9, 2016 at 5:48 AM Sarah Drasner notifications@github.com
wrote:

[2016-06-09 22:09] kentcdodds commented on #106
Fantastic. I'll add @sdras to the show! Looking forward to chatting with you all on the 29th :D

[2016-06-09 23:39] nearestnabors commented on #106
Me too! :)

[image: photo]
_Rachel Nabors_
Web Animation Engineer
w:rachelnabors.com
http://twitter.com/rachelnabors  http://dribbble.com/rachelthegreat
http://plus.google.com/u/0/+RachelNabors

## http://linkedin.com/in/rachelnabors

Curator of Web Animation Weekly http://webanimationweekly.com

_Speaking & Workshops_
- Aug 07 CSS Conf Argentina, Buenos Aires http://cssconfar.com/
- Oct 17 –18 CS

[2016-06-09 23:50] kentcdodds commented on #106
Added you already :-) https://javascriptair.com :-)

[2016-06-10 03:25] sotojuan commented on #109
Might seem random but I'd like to see @mxstbr on this!

[2016-06-10 09:32] mxstbr commented on #109
@sotojuan thanks for the recommendation.

Would love to talk about this!
My name is "Max Stoiber", my google mail is stoiber.maximilian (on gmail.com), my twitter handle is `@mxstbr` and you can find a picture here: http://mxstbr.com/headshot.jpeg

If you want me on the show, I'd prefer not to do it on the wednesday in two weeks but any other one within the next ~5 weeks works for me.

[2016-06-10 14:03] kentcdodds commented on #109
I was actually planning on doing this show next week. Still need to hear from the panelists to hear who can make it.

[2016-06-10 17:19] timarney commented on #96
@kentcdodds I can take a look at this.  Thinking shuffle from lodash will do the trick.

For contributors, would that be

[code]

or should it exclude the host and panelist?

[2016-06-10 17:20] kentcdodds commented on #96
Let's shuffle everything :-) Thanks!

[2016-06-10 18:14] #96 closed

[2016-06-11 18:03] sotojuan commented on #110
Can we have a 10 min segment where @taion teaches us how to make good coffee?

[2016-06-11 19:41] bookercodes commented on #114
This is going to be awesome :tada:

[2016-06-11 19:42] texastoland commented on #114
@paf31 ping!

[2016-06-11 19:54] jordwalke commented on #114
This sounds fun. I can't commit to anything for a little while, but can we check back on this in about one week?

[2016-06-11 20:26] kentcdodds commented on #114
Sure thing Jordan. You'll hear from me in a week

[2016-06-11 22:50] timdorr commented on #109
Happy to help with this as well.

[2016-06-12 02:37] paf31 commented on #114
Sounds fun, sign me up! I probably won't be able to make the dates in July from Richard's list, but the ones in August (i.e 8/3, 8/10, 8/17, 8/24, 8/31) should be fine.
- Phil Freeman
- <my-github-username>@cantab.net
- [@paf31](http://twitter.com/paf31)

[2016-06-12 03:25] deepak1556 commented on #112
Thanks for the invite, 7/6 works for me.

[2016-06-12 05:34] kentcdodds commented on #109
@timdorr, you're welcome to join! @mxstbr, you are as well if you can make it. Let me know and I'll update the website!

[2016-06-12 05:34] kentcdodds commented on #112
Thanks @jlord, @deepak1556, and @emorikawa. Let's plan on 7/6 then! @zcbenz, you're still invited if you're interested :-)

[2016-06-12 06:09] mxstbr commented on #109
Let's do it!

[2016-06-12 23:15] timdorr commented on #109
Yeah, add me to the list. BTW, I'd use timdorr@gmail.com for things, since that has a Google+ profile attached and will work best with Hangouts.

[2016-06-13 02:55] kentcdodds commented on #109
Just added @mxstbr, @timdorr, and @Hendrixer to the show in addition to @AimeeKnight. I think this is going to be fantastic. See ya'll this Wednesday!

[2016-06-13 16:46] #82 closed

[2016-06-13 20:05] kentcdodds opened #117 "How to be a mentor"
**Title:** How to be a mentor

**Description:** With so many new developers coming into the JavaScript world, there's never been a greater need for experienced developers to mentor and teach others. In this episode we'll chat with some experts on how to be an effective mentor.

**Potential guest(s):** @kmcrayton7, @taras, @mainroach, @JedWatson

If you haven't heard of [JavaScript Air](http://java

[2016-06-13 20:15] taras commented on #117
I'm in interested in participating in one of these episodes.

Name: Taras Mankovski
Email: taras@embersherpa.com
Twitter: EmberSherpa

I'm available anytime starting August 10th.

[2016-06-13 20:41] kmcrayton7 commented on #117
I'm interested:

Kim Crayton
Kim@KimCrayton.com
KimCrayton1 and JrDevMentoring
I make my own schedule so my availability is flexible

[2016-06-13 21:15] sotojuan commented on #109
Woohoo 🎉

[2016-06-14 02:20] mainroach commented on #117
Interested.
Colt McAnlis, @duhroach (NOT @mainroach)
duhroach@gmail.com
Available in August

[2016-06-15 02:13] sotojuan commented on #113
What about the Lerna people? @thejameskyle @hzoo @kittens, though some have been on the show already. They got an interesting way to do package publishing.

[2016-06-15 02:14] kentcdodds commented on #113
Fantastic idea @sotojuan! What do you say guys?

[2016-06-15 02:18] jamiebuilds commented on #113
Sure, happy to do it

[2016-06-15 02:19] jamiebuilds commented on #113
James Kyle
me@thejameskyle.com
@thejameskyle

[2016-06-15 02:21] jamiebuilds commented on #113
These work for me: 2016-07-20, 2016-08-03, 2016-08-10, 2016-08-17

[2016-06-15 13:50] JedWatson commented on #117
I'm in! Need to confirm some travel dates (family holiday to China mid-august, so connectivity may/will be an issue) but will get back to you asap :)

Jed Watson
@jedwatson on twitter

[2016-06-15 20:36] kentcdodds commented on #110
ping @ryanflorence, @mjackson, do you guys wanna do this?

[2016-06-15 20:44] kentcdodds commented on #112
@deepak1556, what's your twitter handle? I need it to add you to the website :-)

[2016-06-15 20:56] kentcdodds opened #118 "Improve the color contrast on the home page links"
The color contrast here is really bad:

<img width="736" alt="screen shot 2016-06-15 at 2 54 47 pm" src="https://cloud.githubusercontent.com/assets/1500684/16097073/203b0634-3309-11e6-8559-1e2d3e2c0f3f.png">

The colors come from [this code](https://github.com/javascriptair/site/blob/601ea1e7276af2a02f67db5d5bb3e0d92382fb1a/src/pages/home/sections/episodes/episode-small.js#L77)

Thanks!

[2016-06-15 20:58] kentcdodds commented on #118
Please see the [contribution guidelines](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md) and if this is your first PR to the site, please [add yourself to the contributors page](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md#add-yourself-to-the-contributors-page) :-)

[2016-06-15 21:02] calvinclaus commented on #118
Will this be assigned or is this just first come first serve?

[2016-06-15 21:06] kentcdodds commented on #118
First come first serve!

[2016-06-15 21:07] kentcdodds commented on #118
I'd normally want to make something like this a [`first-timers-only`](http://kcd.im/first-timers-only) issue, and I will later if it's not resolved before I get around to it :-)

[2016-06-15 21:15] calvinclaus commented on #118
I tried to keep it yellow to have it fit with the site. Would you be okay with this:
![bildschirmfoto 2016-06-15 um 23 13 55](https://cloud.githubusercontent.com/assets/6116771/16097641/146ec160-334f-11e6-9991-fdd667756589.png)

[2016-06-15 21:15] kentcdodds commented on #117
@JedWatson, I've added the show to the schedule. Let me know if the date I chose doesn't work and we can move it :-)

[2016-06-15 21:18] kentcdodds commented on #118
Hmmm... I'm not sure I like that color... Would love to get the opinion of someone else on here. We should probably change the words `with` and `and` as well to just be a bit darker.
Also, could you check the colors with http://leaverou.github.io/contrast-ratio?

[2016-06-15 21:26] calvinclaus commented on #118
The combination above would give us 4.3.
Are you happy to move away from yellow completely?

[2016-06-15 21:29] kentcdodds commented on #118
I think that's ok (no a11y expert here).

Yeah, as long as it's not some other random color. Probably just a darker black I think... But still open to other suggestions :-)

[2016-06-15 21:29] hzoo commented on #113
If you can fit another, sure

Henry Zhu
hi@henryzoo.com
`@left_pad`

[2016-06-15 21:36] moaazsidat commented on #118
This tool by Adam Morse may be useful (and fun) for generating a cool a11y compliant color palette 😄  http://www.randoma11y.com

[2016-06-15 21:38] calvinclaus commented on #118
Haha...

Oh. Well, if we don't care about differentiating between link and text color too much that's the easiest way...
![bildschirmfoto 2016-06-15 um 23 32 55](https://cloud.githubusercontent.com/assets/6116771/16098222/398a18fc-3352-11e6-902f-64f795cb1b46.png)
(8.2)

[2016-06-15 21:39] kentcdodds commented on #118
Here are a few suggestions I got from this super awesome app [colorsafe.co](http://colorsafe.co/) ([thanks ahharissa](https://twitter.com/ahharissa/status/743193901918490624)!):

`#736012`

<img width="763" alt="screen shot 2016-06-15 at 3 38 36 pm" src="https://cloud.githubusercontent.com/assets/1500684/16098243/3fa34b7a-330f-11e6-9994-61ffaedadede.png">

`#555344`

<img width="759" alt="screen s

[2016-06-15 21:42] kentcdodds commented on #118
I'm leaning toward that last one: `#634806`

[2016-06-15 21:44] kentcdodds commented on #113
@hzoo, how could we leave out `@left_pad`? Happy to have you join!

[2016-06-15 21:58] kentcdodds commented on #118
Thanks @markdalgleish, for bumping the font weight. I think it'd still be great to get a better color.

[2016-06-15 22:35] rawrmonstar commented on #118
The sponsor links also fail WCAG 2.0 with a contrast ratio of 2.9.
![image](https://cloud.githubusercontent.com/assets/13814048/16099704/8df94262-330e-11e6-8d09-17fd3bf8d8fd.png)

If you replace it with the color you are leaning towards for the guest links (#634806), it passes with a contrast of 6.1:
![image](https://cloud.githubusercontent.com/assets/13814048/16099708/942b63ea-330e-11e6-8d61-1ddc

[2016-06-15 22:38] kentcdodds commented on #118
Thanks for noticing that @rawrmonstar! Would you like to make a pull request to fix that? You'll need to update [this](https://github.com/javascriptair/site/blob/1ec352e201e1e1e8e29abe4e849bdcc163909de7/src/pages/home/header/heading.js#L65) and [this](https://github.com/javascriptair/site/blob/1ec352e201e1e1e8e29abe4e849bdcc163909de7/src/pages/home/header/heading.js#L60).

Also, you could [add you

[2016-06-16 00:37] #118 closed

[2016-06-16 04:02] mjackson commented on #110
Timing is bad since we're working on a total rewrite right now. We should
have something to start testing next week.
On Wed, Jun 15, 2016 at 1:36 PM Kent C. Dodds notifications@github.com
wrote:

[2016-06-16 04:04] kentcdodds commented on #110
Sure, how does the 3rd of August sound?

[2016-06-16 09:58] alexbooker opened #123 "Add GitHub link to javascriptair.com"
[javascriptair/site](https://github.com/javascriptair/site) isn't mentioned on [javascriptair.com](https://javascriptair.com/).

At the very least, I think it should be added to the footer :+1:

I hope that doing so will draw some new contributors.

Whaddaya think?

[2016-06-16 13:16] kentcdodds commented on #123
Agreed. We should also add a link to the contributors page to the footer. Right now it's in the sponsors section which is fine, but I think it should be in the footer too

[2016-06-16 14:37] vesparny commented on #123
something like that?

![image](https://cloud.githubusercontent.com/assets/82070/16120657/8dfbc4c4-33e0-11e6-9a97-5e20d4beb6dd.png)

[2016-06-16 14:39] kentcdodds commented on #123
LGTM. We should eventually think about redesigning that footer slightly to accommodate so many links.

[2016-06-16 14:40] housseindjirdeh commented on #123
Hmm or link to the contributors there and have the the github link on the left hand side?
![capture](https://cloud.githubusercontent.com/assets/12476932/16120797/d6b4afc8-33ae-11e6-9567-ecdfff9519e7.PNG)

[2016-06-16 14:43] bookercodes commented on #123
@kentcdodds I agree. We could just make the list vertical?

![](http://i.imgur.com/GP70Wnb.png)

[2016-06-16 14:45] kentcdodds commented on #123
Oh yeah, if we could add a GitHub svg on the left side that'd be good too. Just thought we should probably link to the code of conduct there too.

https://github.com/javascriptair/CODE_OF_CONDUCT

[2016-06-16 14:45] bookercodes commented on #123
@kentcdodds Sounds perfect :+1:

[2016-06-16 15:22] kentcdodds commented on #123
Sounds good to me. Maybe we could have it be three columns so it's not so tall. We'd want it to be responsive for mobile though. For anyone wanting to work on it, the code is around [here](https://github.com/javascriptair/site/blob/60e577a700b5e03ecf50b6802e87bf2c2fdd7553/src/pages/home/sections/footer/footer.js). We don't have a grid system, but you can use bootstrap :-)

[2016-06-16 15:54] kentcdodds opened #124 "Aphrodite-ize the episode cards"
I've been working on this for a while and it's getting close. If someone wants to pick it up and finish it that'd be awesome. I think that all that's left is to do the [calendar.js](https://github.com/javascriptair/site/blob/9b8572d5e167bde471acb29ca3831cf590cf7c93/src/pages/home/sections/episodes/episode/calendar.js) file. The current styles for this file live [here](https://github.com/javascript

[2016-06-16 15:56] housseindjirdeh commented on #123
I'll get to this later today/tomorrow. However if someone wants to work on it earlier then that feel free :+1:

[2016-06-16 16:10] kentcdodds opened #126 "Get rid of legacy.css"
[This file](https://github.com/javascriptair/site/blob/cd79082829a2392d97e3b2348d908c4b180cfe36/resources/css/legacy.css) is causing a bit of grief. I'd really like to get rid of it.

I think the first thing we need to do is to identify the styles that it has that are no longer in use (whether it be the class names no longer appear in the site or specificity causes it to be unused).

I'd like to g

[2016-06-16 17:59] kentcdodds opened #127 "Throttle processes on builds"
Right now, we spawn a TON of processes during the build. One for every page (including each episode page). This is not the greatest situation and it's finally [bitten us](https://travis-ci.org/javascriptair/site/builds/138154325):

<img width="1141" alt="screen shot 2016-06-16 at 11 57 26 am" src="https://cloud.githubusercontent.com/assets/1500684/16127391/86dca39c-33b9-11e6-9a5f-71175365cd44.png"

[2016-06-16 18:03] kentcdodds commented on #127
Note: This is a bit of a high priority because the site is broken and I can't deploy the fix until this is resolved. Hopefully I can get to it soon, but if anyone wants to give me some tips on how I can do the throttling, I'd appreciate it!

[2016-06-16 18:07] joshmanders commented on #127
This seems way over engineered and could be the issue.. Is there a reason you're not using something like gulp, which could handle all this in a better fashion?

I've done similar to what you are doing for building episodes, but instead of a JS object I used a markdown with frontmatter in it to do stuff, and I built hundreds of pages pretty quickly using gulp.

Edit: example

https://github.com/jo

[2016-06-16 18:55] kentcdodds commented on #127
I disagree that this is over engineered. I think what you see as over engineering is actually just an issue of familiarity. I'd love to see an example of how I could make this better with gulp, but I'm skeptical that it would make things simpler.

[2016-06-16 19:01] joshmanders commented on #127
You're correct, over engineering was the wrong term, I am not familiar with the package-scripts thing you're using.

In my example gulpfile what I am doing is passing a glob of `.md` files to a through stream to first check the contents for a first level heading in markdown to assign to a title property on the file object. After that I pass it through frontmatter parser to take out all the frontma

[2016-06-16 19:03] timarney commented on #127
For context might help to point people here https://github.com/javascriptair/site/tree/master/scripts (at least as a starting point)

Episodes

[code]

[2016-06-16 19:04] kentcdodds commented on #127
I'm working on a solution right now that I think will be good.

[2016-06-16 19:14] thangngoc89 commented on #127
@kentcdodds @Phenomic_app used to have a script that spawn AVA's processes in parallelism to avoid this kind of error
https://github.com/MoOx/phenomic/blob/2f08239d804fc3e1ad69151127f3d76466713047/scripts/ava-serial.js#L31

[2016-06-16 19:25] ryanbraganza commented on #127
This [stackoverflow answer](http://unix.stackexchange.com/a/216475/13281) looks like it should be easily adaptable to your code.

[code]

Something like..

[code]

In general, I would recommend using something like [GNU Parallel](http://www.gnu.org/software/parallel/) for things like this.

[2016-06-16 19:37] kentcdodds commented on #127
Thanks everyone for weighing in with good ideas and helpful information. [Here's how I solved it](https://github.com/javascriptair/site/commit/c3ebf05a02384007e3161d91ef1bbc31c616f61b):

Basically now the `build-episode.sh` and `build-episodes.sh` scripts are node scripts now. The `build-episodes.js` uses the [`async`](http://npm.im/async) package to iterate through each of the episodes and build

[2016-06-16 19:37] #127 closed

[2016-06-16 22:53] housseindjirdeh commented on #123
Let me know what you guys think, two columns look pretty decent:
![laptop](https://cloud.githubusercontent.com/assets/12476932/16135717/7edd7682-33f3-11e6-80b9-d5b3e6806176.PNG)

[2016-06-16 23:01] housseindjirdeh commented on #123
Resizes to mobile:
![mobile](https://cloud.githubusercontent.com/assets/12476932/16135896/87a75728-33f4-11e6-9ed7-b1f9d90ef39e.PNG)

Resizes to small tablet:
![tablet](https://cloud.githubusercontent.com/assets/12476932/16135899/8adcbaaa-33f4-11e6-9fb2-69313ab47870.PNG)

[2016-06-16 23:13] kentcdodds commented on #123
Yes! That looks fantastic!

[2016-06-17 03:36] housseindjirdeh commented on #123
Okay awesome :) Will get a PR in tomorrow morning

[2016-06-17 16:55] kentcdodds commented on #48
Hello @coryhouse, @coridrew, @lyndseypadget, @matthewrenze, Eric Lee (can't find GitHub username), @taylonr, @jessitron, @jayharris, and @joeandaverde! You've been invited to join us **live** _and_ **on site** for the JavaScript Air KCDC show!

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. This particular show will be

[2016-06-17 17:25] jessitron commented on #48
sorry, I have to catch a train home on Friday. Won't be around. Cool that you're doing this though!

[2016-06-17 17:41] kentcdodds commented on #48
@jessitron, sounds good. You'll be missed! Looking forward to seeing you at the conference!

[2016-06-17 17:42] kentcdodds commented on #48
Oh, I should have mentioned, the plan is to have it during lunch time on Friday.

[2016-06-17 18:53] coryhouse commented on #48
Cory House
@housecor
housecor@gmail.com

Excited to take part! Thanks for inviting me!

[2016-06-17 20:00] #123 closed

[2016-06-17 20:16] housseindjirdeh commented on #126
I can take this on, will get that initial PR by tomorrow hopefully :+1:

[2016-06-18 12:25] #109 closed

[2016-06-18 12:30] kentcdodds opened #129 "Responsive links tips and picks"
On the episode page, I think we should have the links, tips, and picks go below the avatar on small screens.

![screenshot_20160618-072923](https://cloud.githubusercontent.com/assets/1500684/16170874/921260c6-3526-11e6-83aa-a0198763911f.png)

[2016-06-18 13:01] kentcdodds commented on #114
Ping @jordwalke.

[2016-06-18 13:03] kentcdodds commented on #114
FYI everyone, it's looking like the show will probably be on 8/03 or 8/17. Let me know if that doesn't work well for anyone. (Still waiting for what @jordwalke has to say)

[2016-06-18 13:30] taylonr commented on #48
Nate Taylor
@taylonr
taylonr@gmail.com

This seems awesome. Humbled to be on this list.

[2016-06-18 19:30] housseindjirdeh commented on #129
I'll take this on, should be simple so will get a PR in soon

[2016-06-18 19:50] alfonsogarciacaro commented on #114
That should work for me :+1:

[2016-06-18 19:52] rtfeldman commented on #114
Either sounds good!

On Sat, Jun 18, 2016, 12:50 PM Alfonso Garcia-Caro notifications@github.com
wrote:

[2016-06-18 21:06] #129 closed

[2016-06-19 01:36] dynajoe commented on #48
Sounds fun!

Joe Andaverde
@joeandaverde
joe.andaverde@gmail.com

May I also recommend @jonathanfmills

[2016-06-20 14:43] housseindjirdeh commented on #126
Will get a PR in the next day or so (migrating all the CSS to aphrodite and removing the legacy file) :+1:

[2016-06-21 23:52] housseindjirdeh commented on #126
@kentcdodds I noticed in the other issue you mentioned a potential workaround for the descendant selection of pseudo-states, but it also seems that aphrodite doesn't officially support [styling by tagnames instead of class.](https://github.com/Khan/aphrodite/issues/30)

I'm thinking of how I can migrate everything as cleanly as possible and the legacy file has a bunch of descendant tags `(h1, h2,

[2016-06-22 02:28] kentcdodds commented on #126
Ah yeah, let's put those things in [`aphrodite-shortcomings.css`](https://github.com/javascriptair/site/blob/838256d036c33ecbe7d48a87b9b82c431be23e89/resources/css/aphrodite-shortcomings.css). The other way to do it is to make our own `H1` component and use that everywhere, but I think that's not necessary. These styles aren't really component-level, they're more global, and I'm ok with that. I re

[2016-06-23 20:07] tylermcginnis opened #133 "Episode Suggestion: Horizon - The realtime JavaScript backend"
The RethinkDB team is doing some really interesting stuff with Horizon. I've been chatting with @KittyBot and I think it would make an awesome episode.

Title: Horizon
Idea: Talk all about Horizon
Potential Guests: @KittyBot and anyone else from the Rethink team.

[2016-06-23 21:21] kentcdodds commented on #133
Yes please! What do you think @KittyBot?

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [this Google Doc](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k9

[2016-06-24 01:45] kentcdodds opened #134 "Move contact us link to icons"
Basically this:

<img width="952" alt="screen shot 2016-06-23 at 8 41 40 pm" src="https://cloud.githubusercontent.com/assets/1500684/16325352/ff19555c-3982-11e6-815f-f968b6fdecfa.png">

From [here](https://github.com/javascriptair/site/blob/7f60730b3bcafb2fab232384054c593e57216113/src/pages/home/sections/footer/footer-links-list.js#L31-L35) to [here](https://github.com/javascriptair/site/blob/7f60

[2016-06-24 06:22] tsriram commented on #134
Let me do this as my first open source contribution :)

[2016-06-24 11:25] #134 closed

[2016-06-24 15:47] #126 closed

[2016-06-24 17:46] hdjirdeh opened #136 "Responsiveness and font size in sponsors"
1) Sponsors section needs to fit small screens a bit better

![sponsors-mobile](https://cloud.githubusercontent.com/assets/12476932/16345376/9ede02d6-3a0f-11e6-9efe-5f5a34639fa3.PNG)

--------------------------------------

2) Font is larger for sponsors in past episodes than in future episodes/homepage for some reason

Sponsors in past episodes
![sponsors-previousepisodes](https://cloud.githubuse

[2016-06-24 19:16] kentcdodds commented on #136
Awesome, yeah, let's fix this.

[2016-06-24 20:12] housseindjirdeh commented on #136
If anyone wants to take over this feel free! Otherwise I'll get to it over the weekend :)

[2016-06-26 18:39] sotojuan commented on #133
@mglukhovsky spoke about Horizon on JS Jabber recently, he'd be a good pick.

[2016-06-27 01:46] #124 closed

[2016-06-28 01:38] #136 closed

[2016-06-29 17:55] kkemple commented on #67
Hey, I would be interested in helping out with this if you haven't started on it yet :smile:

[2016-06-29 18:15] kentcdodds opened #140 "Typed JavaScript"
**Title:** Typed JavaScript with TypeScript and Flow

**Description:** Adding typings to JavaScript is becoming more and more popular. We're going to chat with the creators of TypeScript and Flow to discuss the why and how behind typed JavaScript.

**Potential guest(s):** pending...

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about

[2016-06-29 19:02] jeffmo commented on #140
This sounds fun! I'd be down to hop in on this :)

[2016-06-29 19:38] kkemple opened #141 "Next Episode Preview Shows Even When On Last Episode"
When watching the last available episode on JavaScript Air the next episode badge is still on top of page and points to the current video.

![javascript_air___web_animations](https://cloud.githubusercontent.com/assets/3629876/16466000/7aa8fbce-3e0f-11e6-9f00-eba2e53164be.png)

[2016-06-29 20:07] kentcdodds commented on #141
This is a great point! I don't want to remove it for all pages, but definitely makes sense to not include it if the `nextEpisode.id === episode.id`. Should be fairly trivial to fix. Relevant code is around [here](https://github.com/javascriptair/site/blob/489bc994d7bc36a4707cef441990ac9ab6dd847f/src/components/header.js#L135-L138) and [here](https://github.com/javascriptair/site/blob/489bc994d7bc3

[2016-06-29 20:08] kkemple commented on #141
I could do it, no sense in not doing it 😄

[2016-06-29 20:09] kentcdodds commented on #141
Sweet! Don't forget [this important step](https://github.com/javascriptair/site/blob/489bc994d7bc36a4707cef441990ac9ab6dd847f/CONTRIBUTING.md#add-yourself-to-the-contributors-page) :-)

[2016-06-29 20:10] kkemple commented on #141
ahaha i won't 😉

[2016-06-30 01:06] #141 closed

[2016-06-30 02:03] kentcdodds commented on #67
Sounds great! Go for it :)

[2016-06-30 21:52] kentcdodds commented on #140
Awesome @jeffmo, thanks! @ahejlsberg, would you be interested to come represent TypeScript's perspective on Typed JavaScript for the community?

[2016-07-01 01:34] ahejlsberg commented on #140
@kentcdodds Sure, I'm game.

[2016-07-01 01:36] kentcdodds commented on #140
Fantastic! I'm really looking forward to this show! I need a few things from you all to get things set up for the show. Please read the [guest FAQ](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit). Here's the most time intensive piece:

Episode planning happens on the GitHub repo issues. Please comment on your episode’s issue with the following information (if

[2016-07-01 03:14] kentcdodds opened #143 "React Rally"
On-site show at React Rally. More info forthcoming.

[2016-07-01 03:16] kentcdodds commented on #140
Oh, also, which of these dates work for each of you?
- 2016-08-03
- 2016-08-17
- 2016-08-31

Remember, the show is broadcast live at 12:00 CT.

Thanks!

[2016-07-01 12:55] jcreamer898 commented on #140
![](https://media.giphy.com/media/13XFmJhNtbTSgM/giphy.gif)

[2016-07-01 15:35] jeffmo commented on #140
I'm not available on 08-03, but 08-17 and 08-31 both work for me.

[2016-07-08 10:18] anirudh-modi opened #144 "Promises in Javascript"
Hello Kent,

Promises in Javascript has evolved quite a bit, from earlier using Library for promise to shifting in native, I feel, if the viewers can some insight on promises, it can be really helpful, especially for a beginner coming new to JS.

[2016-07-08 10:31] kentcdodds commented on #144
Hi @anirudh-modi!
This sounds like a great show! I saw your recommendation on [jsair.io/suggestions](http://jsair.io/suggestions). In the future, that will be sufficient. Thanks!

[2016-07-08 10:33] anirudh-modi commented on #144
Great!

[2016-07-09 05:58] Connorelsea commented on #144
That suggestions link "http://jsair.io/suggestions" does not work for me. Says "Page not Found" on a shortlink website. Just letting you know! @kentcdodds

[2016-07-10 02:14] kentcdodds commented on #144
Sorry, that's http://jsair.io/suggest

[2016-07-14 01:28] #48 closed

[2016-07-15 15:06] kentcdodds opened #145 "Managing Dependencies like a boss 😎"
**Title:** Managing Dependencies like a boss 😎

**Description:** The average npm project has [100](http://blog.npmjs.org/post/146943134240/npm-add-ons) dependencies and subdependencies. Managing these dependencies can be challenging. We're going to talk with the great people behind [DependencyCI](https://dependencyci.com/), [Libraries.io](https://libraries.io/), and [Greenkeeper.io](https://greenk

[2016-07-15 16:50] #106 closed

[2016-07-15 21:47] #112 closed

[2016-07-16 15:05] #108 closed

[2016-07-18 10:39] andrew commented on #145
Thanks for the invite, I can do 2016-08-17, 2016-08-31 or 2016-09-07.

name: Andrew Nesbitt
email: andrewnez@gmail.com
twitter: @teabass

Thanks!

[2016-07-18 20:20] kentcdodds commented on #145
Great! How about you @boennemann?

[2016-07-18 20:22] kentcdodds commented on #114
Ok, let's plan on 8/03. @jordwalke, you're still invited. I hope you can come. I enjoyed our chat on React30 and would love to chat with you again on JavaScript Air 😄  (format is similar).

[2016-07-18 20:24] kentcdodds commented on #133
ping @KittyBot and @mglukhovsky. Would you be interested in talking about Horizon on our show?

[2016-07-18 20:25] kentcdodds commented on #140
Ping @ahejlsberg, how's the 17th at 12:00 CT work for you?

[2016-07-19 08:11] boennemann commented on #145
Yay, thanks again for the invite @kentcdodds. I'm happy to join on all dates @andrew mentioned, but would prefer the earliest date 2016-08-17.
- Stephan Bönnemann
- stephan.boennemann at gmail.com
- @boennemann

It would be cool to have someone from npm on the show. @ashleygwilliams or @bcoe maybe? :)

[2016-07-19 08:19] kentcdodds commented on #145
Oh! I'd love to have both @ashleygwilliams and @bcoe on! Ashley joined us [before](http://jsair.io/learning) and we had a splendid time. I've really admired Benjamin's work on `nyc` so I'd love to have him on as well! What do ya'll think?

[2016-07-19 16:39] bcoe commented on #145
@kentcdodds I'd be happy to chat on this topic, my schedule is pretty flexible -- [npm Camp](http://npm.camp/)  being my only upcoming obligation on the 30th of July.
- **Name:** Ben Coe
- **Email:** ben [at] npmjs.com
- **Twitter:** @BenjaminCoe

[2016-07-19 16:48] kentcdodds commented on #145
Great! Would love to have you too @ashleygwilliams

[2016-07-19 16:55] ashleygwilliams commented on #145
sure thing!
- Name: Ashley Williams
- Email: ashley [at] npmjs.com
- Twitter: @ag_dubs

[2016-07-19 17:05] kentcdodds commented on #145
Sweet! We're on the schedule for the 17th of August. Really looking forward to this show 😺

[2016-07-19 22:58] jordwalke commented on #114
I'll see if I can make it (what time of day?). Thanks!

[2016-07-19 23:12] rtfeldman commented on #114
Sounds good! @kentcdodds can you [DM me on Twitter](https://twitter.com/rtfeldman) with info on how to join the call?

[2016-07-19 23:42] ahejlsberg commented on #140
@kentcdodds Aug 17th works for me.

[2016-07-20 05:18] kentcdodds commented on #140
Actually, how's the 31st of August?

[2016-07-20 05:33] kentcdodds commented on #114
You'll all get an invite to a Google doc soon. More info will be in there. Thanks!

[2016-07-20 16:22] kentcdodds commented on #111
@alemangui, what's your email address?

[2016-07-20 16:34] kentcdodds commented on #114
Alrighty! The show is on the website now (with your avatars and names, please double check that it looks ok). You should have received an email inviting you to a Google Doc. If you didn't, let me know.

As always, let me know if you have any questions 😄  Looking forward to the show!

Oh, and @jordwalke, the show is at 10:00 AM PT.

[2016-07-20 16:34] kentcdodds commented on #117
Alrighty! The show is on the website now (with your avatars and names, please double check that it looks ok). You should have received an email inviting you to a Google Doc. If you didn't, let me know.

As always, let me know if you have any questions 😄  Looking forward to the show!

[2016-07-20 16:35] kentcdodds commented on #145
Alrighty! The show is on the website now (with your avatars and names, please double check that it looks ok). You should have received an email inviting you to a Google Doc. If you didn't, let me know.

As always, let me know if you have any questions 😄  Looking forward to the show!

[2016-07-20 16:52] alemangui commented on #111
@kentcdodds it's alemangui@gmail.com

[2016-07-24 16:09] #113 closed

[2016-08-03 15:21] #111 closed

[2016-08-09 01:40] #114 closed

[2016-08-10 16:57] timdorr commented on #117
As a follow-up, can we get a "How to be a mentee" episode? :smile: I think that's an equally valuable skill worth exploring.

[2016-08-16 17:27] ahejlsberg commented on #140
@kentcdodds Aug 31st works!

[2016-08-16 17:37] jcreamer898 commented on #140
I'm so excited for this one I can't even...

[2016-08-19 19:28] #117 closed

[2016-08-19 19:32] timdorr opened #146 "Live @ ConnectJS"
In a similar vein to #46, since you'll be there (and I'll be there! yay!), why not do a show live from ConnectJS as well?

http://connect.tech/

[2016-08-19 19:38] kentcdodds commented on #146
Thanks for the suggestion @timdorr. We'll see if I can make it work. Not 100% certain that JSAir will still be running by then. Even if it is, on site shows take a bit of extra work and I'm already doing a workshop and a talk. I think throwing an on-site show on top of that could do me in.

[2016-08-21 02:22] kentcdodds opened #147 "YouTube Live Calendar"
So with Hangouts on Air moving from Google+ to YouTube live you can no longer get the event added to your calendar by RSVP-ing to the event. This is unfortunate. So I've setup [this calendar](https://calendar.google.com/calendar/embed?src=9617vll2ovv6p9f6k1loargbbs%40group.calendar.google.com&ctz=America/Denver) with the JavaScript Air google account so people can subscribe to it and get notificat

[2016-08-22 13:24] aarondolson commented on #147
I'd be happy to help out, let me know.

[2016-08-22 13:34] kentcdodds commented on #147
Sweet! Could you send me an email and I'll give you access to the calendar. Thank you!

[2016-08-22 15:57] kentcdodds commented on #147
Thanks a ton for the help @aarondolson!

[2016-08-25 22:16] kentcdodds opened #148 "Node.js and Community"
**Title:** Node.js and Community

**Description:** ... coming soon

**Potential guest(s):** @hackygolucky, @mikeal, and @emilyrose

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [th

[2016-08-30 17:39] ZibbyKeaton commented on #148
@kentcdodds: @mikeal will not be able to make this. But, @TheAlphaNerd (Myles Borins) and @jasnell (James Snell) are down to join.

[2016-08-30 19:14] #143 closed

[2016-08-30 20:01] kentcdodds commented on #148
Thanks @ZibbyKeaton. @emilyrose, can you make it too?

[2016-08-31 16:21] kentcdodds commented on #148
Would ya'll be alright if I try to invite people from some other communities here so we can get a few more perspectives? I'm thinking of some people from the Hoodie project who have done a stellar job with their community.

cc @mikeal, @TheAlphaNerd, @jasnell, @emilyrose

[2016-08-31 16:29] kentcdodds commented on #148
FYI, @TheAlphaNerd, @jasnell, you're on the schedule (and [site](https://javascriptair.com/episodes/2016-09-07/)) for next week! Looking forward to it!

[2016-08-31 16:49] jasnell commented on #148
@kentcdodds ...

Absolutely! Looking forward to it.

[2016-08-31 18:02] kentcdodds commented on #23
We have YouTube Live chat now. Don't need this anymore.

[2016-08-31 18:02] #23 closed

[2016-08-31 18:43] ZibbyKeaton commented on #148
Also, I know @hackygolucky was interested in participating too. She's currently on vacation, but will likely confirm when she's back next week.

[2016-08-31 19:15] kentcdodds commented on #148
Sweet! I'd like to officially invite @hackygolucky and @gr2m to join us!

[2016-08-31 19:18] gr2m commented on #148
I'd be honored, big fan of the show :) I can make it next Wednesday

[2016-09-01 21:19] kentcdodds opened #149 "Testing Tooling"
**Title:** Testing Tooling

**Description:** ... coming soon...

**Potential guest(s):** @TheAlphaNerd (suggestions?)

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [this Google Doc

[2016-09-02 00:03] sotojuan commented on #149
Since there's no description I'm just going to throw a wild guess and say I can represent AVA and talk about the tools and modules we use for testing (in AVA and out of AVA itself)—if the show isn't about that stuff then it's fine 😄

[2016-09-02 00:56] kentcdodds commented on #149
Yes! You're welcome to join! In fact I had you in mind!

[2016-09-02 01:01] sotojuan commented on #149
Yay! I have an appointment at 10am on the 14th and I don't know when it will end, so to be safe I'd rather go any date after that.

[2016-09-02 02:39] kentcdodds opened #150 "Web Components"
**Title:** Web Components

**Description:** ...pending

**Potential guest(s):** @slightlyoff, @notwaldorf, @robdodson, @jakearchibald

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see

[2016-09-02 16:02] kentcdodds commented on #150
One of the things that I try really hard to do for the show is invite people with different backgrounds and perspectives on the same topic to come together to have a positive discussion. So I'm going to invite @tusharmath creator of [rwc](https://github.com/tusharmath/rwc) to join us!

[2016-09-02 23:52] robdodson commented on #150
Rob Dodson
robdodson@google.com
@rob_dodson

[2016-09-02 23:56] kentcdodds commented on #150
Sweet, thanks Rob. What days from [the schedule](https://github.com/javascriptair/site/blob/master/other/schedule.md) work for you?

[2016-09-02 23:58] robdodson commented on #150
9/28 and 10/12 work

On Fri, Sep 2, 2016 at 4:56 PM, Kent C. Dodds notifications@github.com
wrote:

[2016-09-03 09:33] tusharmath commented on #150
@kentcdodds Thanks for the invitation

Tushar Mathur
tusharmath@gmail.com
@tusharmath

Available on @robdodson mentioned dates.

[2016-09-06 17:30] notwaldorf commented on #150
9/28 and 10/12 work for me too!

[2016-09-06 18:27] #140 closed

[2016-09-06 19:28] hackygolucky commented on #148
@kentcdodds Howdy! Just saw the ad for the show and have been super backed up in email from vacation time today. Do you still need more chatters? I thought @emilyrose had mentioned interest via email, too. If that's enough folks, I'm fine to sit this one out.

[2016-09-06 19:29] kentcdodds commented on #148
Definitely! The more the merrier IMO. Happy to have both of you on the show!

[2016-09-06 19:33] affinity-matrix commented on #148
Oh hey. I just saw the link to this thread. I'm still happy to be a part if it's deemed helpful. Thanks!

[2016-09-06 19:37] kentcdodds commented on #148
Wonderful! I'll add you both on the site. I love having many perspectives on the show. Could I get y'all's email, name, and twitter? That's all I need.

[2016-09-06 19:39] hackygolucky commented on #148
@kentcdodds awesome.

Tracy Hinds
tracyhinds at linuxfoundation dot org
@hackygolucky

[2016-09-06 19:41] affinity-matrix commented on #148
@kentcdodds sure!

Emily Rose
erose AT-SYMBOL salesforce PERIOD com
@nexxylove on Twitter

[2016-09-06 20:25] kentcdodds commented on #148
Awesome! We're all set to go. Let me know if you have any questions before the show! I sent ya'll a Google Doc (let me know if you didn't get it). Here's the Pre Show notes:
- Please jump on 15 minutes before the show to do a tech/mic/camera check
- Make sure you’re familiar with the [Code of Conduct](https://github.com/javascriptair/CODE_OF_CONDUCT)
- Be sure to add tips and picks to the document

[2016-09-07 16:33] ZibbyKeaton commented on #148
@kentcdodds: Due to a family emergency, Emily is not longer able to make it. Also, if you could send the Google+ hangout invite to James at jasnell@gmail.com that would be preferred as he won't get it otherwise.

[2016-09-07 18:19] kentcdodds commented on #148
Thanks everyone! It was a great show. Sorry we missed you @emilyrose. We'll have to have you on another time!

[2016-09-08 17:45] kentcdodds opened #151 "Accessibility from a user's perspective"
**Title:** Accessibility from a user's perspective

**Description:** We often talk about accessibility (a11y) as something we all should be doing because there are people out there who have disabilities that make it a challenge to use the websites many of us are used to every day. But we don't get too many opportunities to hear about accessibility from a disabled user's perspective. Let's have tha

[2016-09-13 15:56] sotojuan commented on #149
Someone else: @twada (power assert).

[2016-09-13 15:57] kentcdodds commented on #149
Thanks @sotojuan, but I think that power-assert is a little more specific a tool than I'm thinking about for this show.

[2016-09-15 17:59] #148 closed

[2016-09-16 19:46] kentcdodds commented on #46
Hello friends! If you're @ mentioned on this issue (or I directed you to this issue) then you're invited to join me and @DrBoolean for ~30 minutes on Saturday (tomorrow) at The Strange Loop during lunch to chat about the conference and the topic of your talk/workshop! JavaScript Air is a live video broadcast/podcast for programmers. We focus on JavaScript, the web platform, and community. If you w

[2016-09-16 19:52] kentcdodds commented on #46
Sorry! I mistakenly said:

When I meant:

It will definitely be Saturday, September 16th, 2016. I'll hope to have you at the room at 11:50ish and we'll be done by 12:30. Thanks!

[2016-09-16 19:53] bonniee commented on #46
@kentcdodds I'm in.
name: Bonnie Eisenman
email: bonnie.eisenman@gmail.com
twitter: @brindelle

[2016-09-16 20:45] kentcdodds commented on #46
I'd also like to invite @PaulKinlan!

[2016-09-16 21:15] PaulKinlan commented on #46
Awesome

[2016-09-16 21:28] gcrev93 commented on #46
This sounds fun:)
Name: Gabrielle Crevecoeur
Twitter: @nowayshecodes
Email: gacreve@microsoft.com

[2016-09-17 15:12] kentcdodds commented on #46
Y'all should have received an email with an update for the calendar event with info about how to get to the Performer's Lounge where we'll be doing the show. Let me know if you have any questions!

[2016-09-17 16:31] PaulKinlan commented on #46
Didn't realise I had to drop in information

Name: Paul Kinlan
Twitter: @Paul_Kinlan
Email: paulkinlan@google.com

On Sat, 17 Sep 2016 at 10:12 Kent C. Dodds notifications@github.com wrote:

[2016-09-17 16:32] PaulKinlan commented on #46
BTW, awesome video of directions, I have one problem.  Where is the peabody lounge?

[2016-09-17 16:32] kentcdodds commented on #46
Thanks Paul, you're good. I found your info via my normal stalking mechanisms (Google) :)

The Peabody Lounge is to the left of the Theater on the 2nd floor. I'm going there now to grab my food.

[2016-09-17 18:30] #46 closed

[2016-09-19 17:05] kentcdodds opened #153 "Test all the things with Cypress"
**Title:** Test all the things with Cypress

**Description:** Cypress.io is an automated testing tool that runs in the context of the browser and has some really solid features that make unit, integration, and even end to end testing much easier!

**Potential guest(s):** @brian-mann, @RandallKent

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podc

[2016-09-19 17:06] kentcdodds commented on #153
Note: I'm hoping that we can do it this Wednesday. If that doesn't work, let me know a few days on the schedule that work for you.

[2016-09-20 11:47] RandallKent commented on #153
This Wednesday, September 21st, is perfect!

From Cypress, @brian-mann will be joining (I'll just be listening). In addition, @bahmutov will also be joining us as a user of Cypress.

An email will be hitting javascriptair@gmail.com shortly with contact info for the Google Doc!

[2016-09-20 14:47] kentcdodds commented on #153
Alrighty, I think we're all set! The website will be updated as soon as travis starts and finishes [this build](https://travis-ci.org/javascriptair/site/builds/161349199)

[2016-09-21 16:19] #145 closed

[2016-09-21 16:20] kentcdodds commented on #150
Alrighty! I'm going to schedule us for 9/28 (next week). You'll get an invite to a Google Doc and a calendar event :) Thanks!

[2016-09-21 16:36] kentcdodds commented on #150
@notwaldorf, could you email me (I can't find your email address): javascriptair@gmail.com

Thanks!

[2016-09-21 16:39] notwaldorf commented on #150
@kentcdodds done!

[2016-09-22 12:51] jakearchibald commented on #150
I probably shouldn't be part of this. My web components knowledge is towards zero.

[2016-09-22 12:54] kentcdodds commented on #150
Haha, that's fine @jakearchibald! I'll get you on the show eventually...

![what-exactly-would-you-say-you-do-here](https://cloud.githubusercontent.com/assets/1500684/18748845/730cec76-8091-11e6-9ec2-05cfed9616d3.jpg)

[2016-09-23 23:28] #7 closed

[2016-09-23 23:36] kentcdodds commented on #110
Ok, so I think we should chat about React Router v4 :) How are these dates?
- 5 Oct
- 12 Oct

Remember, the show is at 12:00 CT

[2016-09-23 23:36] kentcdodds commented on #110
ping @ryanflorence
I'd be happy to have up to 4 guests on the show :)

[2016-09-24 00:25] timdorr commented on #110
I'm free on both days (Wednesday, btw).

[2016-09-25 02:14] kentcdodds commented on #110
ping @ryanflorence, @mjackson, and @taion.

[2016-09-25 03:00] taion commented on #110
I'm not using React Router v4 and don't plan on doing so. I could discuss the situations in which RRv4 may or may not be appropriate for a project, but the set of projects for which RRv4 is not an ideal fit is likely restricted to a more advanced subset, so it may not be of general interest.

[2016-09-26 08:50] parhamdoustdar commented on #151
Hi,

My name is Parham Doustdar. I'm a completely blind back-end programmer. To know me more, you can visit my website at https://www.parhamdoustdar.com.

I'd love to discuss accessibility and how it affects me and other blind users on your podcast if you're interested. Let me know and I'd be glad to oblige!

[2016-09-26 12:10] kentcdodds commented on #151
Thank you for being willing to chat @parhamdoustdar. I think this will be a very useful show for people. As mentioned, the show is at 12:00 CT. Which of the following Wednesdays work well for you?
- Oct 5th
- Oct 12th
- Oct 19th

[2016-09-28 19:56] #153 closed

[2016-10-04 20:17] kentcdodds opened #154 "React Native"
**Title:** React Native

**Description:** JavaScript is taking the software world by storm, and we're going to talk about yet another enabling technology: React Native.

**Potential guest(s):** @kenwheeler, @tylermcginnis

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Tim

[2016-10-04 20:17] kentcdodds commented on #154
We're actually planning on having this show tomorrow. And I've already got ya'lls info, so no worries. Feel free to respond with happy emoji if you wanna :)

[2016-10-04 20:21] kentcdodds commented on #154
@bonniee, I realize this is super short notice, but I would really love to have you on the show tomorrow to talk about React Native. Do you think you could make it work at 12:00 Central Time tomorrow for about an hour?

[2016-10-04 20:25] bonniee commented on #154
Hi! Sorry, don't think I can make it tomorrow - maybe another time.

[2016-10-04 20:27] kentcdodds commented on #154
Thanks for responding @bonniee. Do you think you could do it at a different time tomorrow? I totally dropped the ball on this one, so I understand if you'd prefer to have more notice 😓

[2016-10-04 21:07] kentcdodds commented on #154
Actually @bonniee, if you can't do another time, would next week work with you? I could just do a rerun this week. I really don't want to miss you on the React Native show. You kinda... literally wrote the book ;-)

[2016-10-04 21:26] bonniee commented on #154
Ha, I was about to suggest next week. Can you do Monday or Thursday? Monday
I can do before 1pm EST, Thursday I can do any time during business hours.

On Tue, Oct 4, 2016 at 5:07 PM, Kent C. Dodds notifications@github.com
wrote:

##

Check out my book, Learning React Native http://bit.ly/lrnamaff.
Or find me elsewhere: LinkedIn http://linkedin.com/in/bonnieeisenman |
Twitter https://twitter.com/b

[2016-10-04 21:27] kentcdodds commented on #154
Is there any chance you can do Wednesday at 12:00 CT? Because it's a live show, I try hard to keep to the normal schedule. If you can do Wednesday next week, we can push it back further. If that just doesn't work we can adjust.

[2016-10-04 21:28] bonniee commented on #154
OK, I can do Weds 10/19 or 10/26.

On Tue, Oct 4, 2016 at 5:27 PM, Kent C. Dodds notifications@github.com
wrote:

##

Check out my book, Learning React Native http://bit.ly/lrnamaff.
Or find me elsewhere: LinkedIn http://linkedin.com/in/bonnieeisenman |
Twitter https://twitter.com/brindelle | My Projects
http://blog.bonnieeisenman.com

[2016-10-04 21:30] kentcdodds commented on #154
Haha, you know what, for the 19th, we're actually doing a conference show and I'll be traveling on the 26th. Actually, @tylermcginnis, if you're up to it, I'd love to have you host this show on the 26th. I've been meaning to find someone to host a show for that day anyway.

[2016-10-05 01:02] tylermcginnis commented on #154
Yup. Happy to host whenever you need.

[2016-10-05 14:27] bonniee commented on #154
So...shall we do the 26th then?

On Tue, Oct 4, 2016 at 9:02 PM, Tyler McGinnis notifications@github.com
wrote:

##

Check out my book, Learning React Native http://bit.ly/lrnamaff.
Or find me elsewhere: LinkedIn http://linkedin.com/in/bonnieeisenman |
Twitter https://twitter.com/brindelle | My Projects
http://blog.bonnieeisenman.com

[2016-10-05 14:32] kentcdodds commented on #154
Yeah, I'll update the website soon, but I think today will be a rerun show. Looking forward to hearing about React Native on the 26th!

cc @kenwheeler

[2016-10-07 20:03] kentcdodds commented on #151
Hi @parhamdoustdar, any chance you could come on the show on the 12th at 12:00 CT?

[2016-10-08 00:23] kentcdodds opened #155 "Build awesome web experiences with WebGL and Three.js"
**Title:** Build awesome web experiences with WebGL and Three.js

**Description:** @mrdoob, anyone else?

**Potential guest(s):**

If you haven't heard of [JavaScript Air](http://javascriptair.com) before, it's a live broadcast podcast all about JavaScript. Shows happen every Wednesday at [12:00 Central Time](http://www.thetimezoneconverter.com/). For more information about being a guest, see [thi

[2016-10-11 01:30] kentcdodds commented on #110
Sorry it's taken so long for me to respond. If you're still good to go @timdorr and @taion, let's do this. It'd be great to get both of your perspectives on the show (that's part of what makes JavaScript Air unique/great IMO).

Can you both still make it this Wednesday at 12:00 CT?

[2016-10-11 01:31] timdorr commented on #110
I'm still good. No worries on the timing. I know you're a super-busy dude!

[2016-10-11 01:53] taion commented on #110
That time works for me.

[2016-10-11 01:59] kentcdodds commented on #110
Alright. It's added to the schedule. @taion, what's your email address? I need to share a Google Doc with both of you.

[2016-10-11 02:01] taion commented on #110
I sent you an email.

[2016-10-11 03:39] kentcdodds commented on #110
Hey guys, we decided to actually cover this show on React30 instead. Sorry about that!

[2016-10-11 03:39] #110 closed

[2016-10-11 16:39] kentcdodds opened #158 "Async Patterns"
**Title:** Async Patterns in JavaScript

**Description:** One of the distinctive aspects of JavaScript is how it deals with asynchronous operations (like reading a file or making a request to a database or server). We're going to talk about the different patterns you can follow with async in JavaScript

**Guest(s):** @focusaurus

We're going to do this show tomorrow. More info coming to your inbox

[2016-10-11 17:04] #150 closed

[2016-10-11 19:53] kentcdodds commented on #158
Inviting @vkarpov15 of the [co](http://npm.im/co) community to join :+1:

[2016-10-11 20:04] vkarpov15 commented on #158
- Name: Valeri Karpov
- Twitter: @code_barbarian
- Email: val@karpov.io

Also, just to confirm, the time is 12:00 pm (noon) in America/Los_Angeles?

[2016-10-11 20:18] focusaurus commented on #158
- Name: Peter Lyons
- Twitter/Github: @focusaurus
- Email: pete@peterlyons.com
- Web: http://peterlyons.com

[2016-10-12 16:47] focusaurus commented on #158
@kentcdodds can you please put the URL to the hangout in the google doc when you are ready?

[2016-10-12 16:49] kentcdodds commented on #158
Done! Thanks! :)

[2016-10-15 16:27] kentcdodds opened #159 "Yarn (bonus show)"
**Title:** The Yarn package client

**Description:** [Yarn](https://yarnpkg.com/) bills itself as fast, reliable, and secure dependency management. It was [recently released](https://code.facebook.com/posts/1840075619545360) as a collaborative effort with developers from Facebook, Google, and Tilde. In this bonus show, we're going to talk about what this means for the JavaScript community.

**Pote

[2016-10-15 16:29] #158 closed

[2016-10-19 17:27] vkarpov15 commented on #158
Hi Kent and co, I just wanted to say thanks again for having me on. Had a great time and learned a bunch :+1:

[2016-10-19 17:38] kentcdodds commented on #158
Thanks again for coming on! It was great!

[2016-10-24 06:35] cpojer commented on #159
We discussed doing this on November 2nd ~10am CT with @kittens, @bestander and likely @wycats :)

[2016-10-24 18:01] kentcdodds commented on #159
You should have received an email with an invite to a Google Doc (@kittens, you didn't because I couldn't find your email address, could you send it to me? [mailto:javascriptair@gmail.com](javascriptair@gmail.com)). I'm looking forward to the show! Thanks!

If you would, please add the event to your calendar! Use [this link](http://www.google.com/calendar/event?action=TEMPLATE&ctz=America%2FChicag

[2016-10-25 12:30] Williammer opened #161 "A dead link in Episode 42's Pick."
It’s the “punchesbears” link under Monica’s Picks, which should be link to twitter but it’s pointing to https://javascriptair.com/episodes/2016-09-28/twitter.com/punchesbears instead.

[2016-10-25 13:30] #161 closed

[2016-10-25 13:33] aarondolson opened #163 ""Add to calendar"/tweet URL for upcoming Ep 46 goes to Ep 43"
https://javascriptair.com/episodes/2016-10-26/
When you click "Add to Calendar" or tweet it out the URL is listed as http://jsair.io/2016-10-05 which goes to Episode 43

[2016-10-25 13:42] kentcdodds commented on #163
Ah! Thanks for pointing that out! Would you like to fix that episode's short URL to be: http://jsair.io/react-native
And I'll set that URL soon.

[2016-10-25 13:57] aarondolson commented on #163
No problem, should be fixed - submitted the pull request w/changes

[2016-10-25 14:56] #163 closed

[2016-10-25 17:26] kentcdodds commented on #154
Alrighty! Show's tomorrow! @tylermcginnis, let's meet up sometime soon to talk about what you'll need to do to host the show. DM me on Slack/Hangouts/Twitter/Wherever... Thanks!

[2016-10-25 17:29] bonniee commented on #154
Looking forward to it. @kentcdodds @tylermcginnis let me know if you've got any prep for me / information on the setup (I assume just a hangouts link?).

[2016-10-25 17:30] kentcdodds commented on #154
Most of your questions will be answered [here](https://docs.google.com/document/d/1Wlg5NxTkDX8k77TnCx4Rgm-nHQKr5pzwGKN81k90XKQ/edit?usp=sharing).

You should have a link to the Google Doc in your inbox. I'll send you a reminder right now :)

[2016-11-01 12:38] Williammer opened #165 "A dead link in Episode 29's Pick."
It's the "My new CSS Animations + Transitions Course" link of Rachel.

[2016-11-01 13:52] #165 closed

[2016-11-02 18:39] #146 closed

[2016-11-02 18:39] #154 closed

[2016-11-03 19:05] wedranb opened #168 "Black panelist names"
Hi, I saw on twitter that you are looking for a help with fixing this.

I would be glad to help if you approve my help.

Cheers!

[2016-11-03 19:08] kentcdodds commented on #168
Wonderful! Please do! Make sure to follow the [contributing guidelines](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md) (especially the bit [here](https://github.com/javascriptair/site/blob/master/CONTRIBUTING.md#add-yourself-to-the-contributors-page)).

The relevant code is around [here](https://github.com/javascriptair/site/blob/master/src/pages/home/sections/panelists.js). Th

[2016-11-03 19:09] vblazenka commented on #168
Thanks, I'm on it! :)

[2016-11-03 19:23] kentcdodds commented on #168
This file will also be useful: https://github.com/javascriptair/site/blob/master/src/components/person.js

[2016-11-03 20:05] vblazenka commented on #168
@kentcdodds Sorry for taking this long I had some trouble with Node version.

I tracked this to person.js:

[code]

I changed color and I tested the site and all colors were right as I could tell.
If you think this is okay, and if you approve f8f8f8 for color, it should be it. :)

EDIT: Or maybe I can remove default color from the text so that we avoid later overriding troubles?
EDIT2: I tried rem

[2016-11-03 20:41] kentcdodds commented on #168
Yeah, we should probably pass along a prop that allows you to configure the text color and have it default to black or something. Could you do that?

[2016-11-03 20:44] vblazenka commented on #168
Can you give me an example of that prop?

Are you sure that this problem is worth of prop?

btw. I think that easiest solution, for now, is to include aphrodite with no-important (I'm not sure what you think of that)  and put important only for text centering.
Panelist.js has personName and personTwitter styles and for example contributors text color will default to black.

What do you think about

[2016-11-03 20:51] kentcdodds commented on #168
You'd have to create it yourself. Actually, what would probably be best is to move [these styles](https://github.com/javascriptair/site/blob/master/src/components/person.js#L60-L67) into the render function [here](https://github.com/javascriptair/site/blob/master/src/components/person.js#L16) (in it's own `StyleSheet.create` call), and then mixin (with object spread) a prop that you would create c

[2016-11-03 21:29] vblazenka commented on #168
Hey, I'm sorry I'm new to Aphrodite and it's taking me much longer and I don't have time tonight anymore, maybe I can jump on creating that props this weekend or you can open issue and find someone else.

But I can provide some easy fix, for now, to make the site look okay. My proposal is to import aphrodite/no-important.

Here is the whole diff in screen shot below.

<img width="483" alt="screen

[2016-11-03 21:31] kentcdodds commented on #168
Hey @wedranb, thanks so much for spending time on this. I really appreciate it. Sorry it wasn't an easier fix. I think I'll just go ahead and do this one. Hopefully you at least learned something new from this! :)

[2016-11-03 21:31] vblazenka commented on #168
Oh yes I did, thanks!

[2016-11-04 16:16] elderfo commented on #168
hey @kentcdodds, I blindly looked into this issue before seeing the logged issue. In reading your comments, I was curious if you would want to pass a plain js object to the `customStyles` prop or if you would use aphrodite to convert it into another form?

[2016-11-04 16:25] kentcdodds commented on #168
I looked at it last night and found that there are a few fundamental things that I'm not doing quite right. I need to rework some things. If you want to give it a try, feel free, but I think ultimately I need to refactor everything to not pass around class names, but to pass around style objects and merge them together before passing them to `StyleSheet.create`. It'll take a bit of rework...

[2016-11-04 16:45] elderfo commented on #168
Granted I am not super familiar with the whole application, it looks like a minor change could accomplish a fix for this and introduce to the `customStyles` concept in an incremental fashion, preventing a large scale refactor.

Would you mind if i threw up a pull request and we can talk about it?

[2016-11-04 17:12] kentcdodds commented on #168
Sure :) knock yourself out :)

[2016-11-06 03:46] #168 closed

[2016-11-06 03:46] #159 closed

[2017-03-13 15:52] JiteshTripathi opened #174 "Not working on Windows vista 32-bit. following error show all time"
The syntax of the command is incorrect.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "run" "build"
npm ERR! node v7.7.2
npm ERR! npm  v4.1.2
npm ERR! code ELIFECYCLE
npm ERR! reactjs-basics@1.0.0 build: `webpack -d && copy src/index.html dist/ind
ex.html && webpack-dev-server --content-base src/ -

[2017-03-13 15:54] kentcdodds commented on #174
I think that you've logged this to the wrong repository...

[2017-03-13 15:54] #174 closed

[2017-10-15 04:26] #66 closed

[2017-10-15 04:32] #149 closed

[2017-10-15 04:32] #8 closed

[2017-10-15 04:32] #19 closed

[2017-10-15 04:32] #35 closed

[2017-10-15 04:32] #65 closed

[2017-10-15 04:32] #67 closed

[2017-10-15 04:32] #147 closed

[2017-10-15 04:32] #151 closed

[2017-10-15 04:32] #155 closed

[2017-10-15 04:33] #18 closed

[2017-10-15 04:33] #68 closed

[2017-10-15 04:33] #98 closed

[2017-10-15 04:33] #133 closed

[2017-10-15 04:33] #144 closed

[2018-07-12 07:30] Guria commented on #98
Guys seem I found an issue. Faced with exactly same behavior while using repo-cooker package.
So the problem is there is a js file in the root of repo with the same base name as binary. And npm on windows first tries to run it as binary instead of looking into './node_modules/.bin'

[2018-07-12 07:42] Guria commented on #98
So to workaround an issue just remove `.JS` from `PATHEXT` environment variable and restart processes that running your scripts including editor if you use integrated terminals.

[2018-08-01 04:57] dirtyredz commented on #98
I was having this same issue until I added the shebang `#!/usr/bin/env node` to the top of my js files.